In [1]:
import pandas as pd
import numpy as np
from joblib import Parallel, delayed
from datetime import datetime 
import math
import time

In [2]:
pd.options.display.max_rows = 10000

In [10]:

#  parameters
# %env PROVIDER_API_KEY=YOUR_API_KEY_HERE
circle="zone"
month="aug2023"
month_doc=8
month_unpaid=10

date='DEC_2023'
ftpHost = 'ftp.uppclonline.com'
ftpUname = 'mvftpreport'
ftpPass = 'Mvftp@321'
localFolderPath = f".\{month}\{circle}\master"
remoteFolder = "MASTER_DATA/DEC_2023"

In [11]:
# import ftplib
# import os
# import gzip
# import shutil
# import time



# def downloadFilesFromFtp(localfolderPath, targetFilenames, ftpHost, ftpUname, ftpPass, remoteWorkingDirectory):
#     # initialize the flag that specifies if download is success
#     isDownloadSuccess: bool = False

#     # create an FTP client instance, use the timeout parameter for slow connections only
#     ftp = ftplib.FTP(timeout=30)
#     ftp.encoding = "utf-8"

#     # connect to the FTP server
#     ftp.connect(ftpHost)

#     # login to the FTP server
#     ftp.login(ftpUname, ftpPass)

#     # change current working directory if specified
#     if not (remoteWorkingDirectory == None or remoteWorkingDirectory.strip() == ""):
#         _ = ftp.cwd(remoteWorkingDirectory)

#     # iterate through each remote filename and download
#     for fItr in range(len(targetFilenames)):
#         targetFilename = targetFilenames[fItr]
#         # derive the local file path by appending the local folder path with remote filename
#         localFilePath = os.path.join(localfolderPath, targetFilename)
     
#         print("downloading file {0}".format(targetFilename))
#         # download FTP file using retrbinary function
#         with open(localFilePath, "wb") as file:
#             retCode = ftp.retrbinary("RETR " + targetFilename, file.write)
         
#         with gzip.open(localFilePath, 'rb') as f_in:
#             with open(localFilePath[:-3], 'wb') as f_out:
#                 shutil.copyfileobj(f_in, f_out)
#         os.remove(localFilePath)
#     # read file
            
#     # send QUIT command to the FTP server and close the connection
#     ftp.quit()

#     # check if download is success using the return code (retCode)
#     if retCode.startswith('226'):
#         isDownloadSuccess = True
#     return isDownloadSuccess



# remoteFilenames = [ f'MASTER_MVVNL_DIV354921_{date}.csv.gz', f'MASTER_MVVNL_DIV354922_{date}.csv.gz', f'MASTER_MVVNL_DIV354923_{date}.csv.gz', f'MASTER_MVVNL_DIV355131_{date}.csv.gz', f'MASTER_MVVNL_DIV355132_{date}.csv.gz', f'MASTER_MVVNL_DIV355133_{date}.csv.gz', f'MASTER_MVVNL_DIV355211_{date}.csv.gz', f'MASTER_MVVNL_DIV355212_{date}.csv.gz', f'MASTER_MVVNL_DIV355213_{date}.csv.gz', f'MASTER_MVVNL_DIV355214_{date}.csv.gz']

# # run the function to download the files from FTP server
# isDownloadSuccess = downloadFilesFromFtp(
#     localFolderPath,remoteFilenames, ftpHost,ftpUname, ftpPass, remoteFolder)

# print("download status = {0}".format(isDownloadSuccess))

In [12]:
def loop(file_name):
    return pd.read_csv(f"{month}/{circle}/master/{file_name}",on_bad_lines='skip')

In [13]:
import os

mylist = os.listdir(f"{month}/{circle}/master")

In [14]:
def bifurcation(column_name,area):
    #area = [Circle,Division]
# column_name = 'Country'
# replace_symbols = ['>', '<', ':', '"', '/', '\\\\', '\|', '\?', '\*']
# df[column_name] = (
#     df[column_name].replace(replace_symbols, '', regex=True).str.strip().str.title()
# )

    os.mkdir(f'{month}/{circle}/master_{area}') 
    unique_values = df[column_name].unique()
    print(unique_values)
    for unique_value in unique_values:
        start = time.time()
        print(unique_value)
        df_output = df[df[column_name].str.contains(unique_value)]
        output_path = os.path.join(f'{month}/{circle}/master_{area}', str(unique_value) + '.csv')
        df_output.to_csv(output_path, index=False)
        end = time.time()
        print("CSV:", end - start)

In [15]:
mylist

['MASTER_MVVNL_DIV354921_AUG_2023.csv',
 'MASTER_MVVNL_DIV354922_AUG_2023.csv',
 'MASTER_MVVNL_DIV354923_AUG_2023.csv',
 'MASTER_MVVNL_DIV355131_AUG_2023.csv',
 'MASTER_MVVNL_DIV355132_AUG_2023.csv',
 'MASTER_MVVNL_DIV355133_AUG_2023.csv',
 'MASTER_MVVNL_DIV355211_AUG_2023.csv',
 'MASTER_MVVNL_DIV355212_AUG_2023.csv',
 'MASTER_MVVNL_DIV355213_AUG_2023.csv',
 'MASTER_MVVNL_DIV355214_AUG_2023.csv']

In [16]:
def NonGOVT(df):
    convert_dict = {'SUPPLY_TYPE': str,
                
                }
 
    df = df.astype(convert_dict)
    df['SUPPLY_TYPE'] = df['SUPPLY_TYPE'].astype(str).str.replace('\\.0+$', '')
    govt = ['30','31','32','33','34','35','36','37','38','39','40','40A', '41', '41A', '42', '42A', '43', '44', '45','48','72','73','74','75','80','81','82','83','100','101','102','103','104','105','106','107','80B','42A','41A','40A','H31'
           'H32','H33','H41','H42','H43','HV41','H13','H14']
    govt = [str(x) for x in govt]
    df['gov_flag'] = df['SUPPLY_TYPE'].isin(govt)
    return df

In [17]:
def relGov(df):
#    ((df['gov_flag'] == False) & ( (pd.isnull(df['GOVT_CODE'] )))) 
    df['relGov'] = 'Goverment'
    df.loc[(pd.isnull(df['GOVT_CODE'] ))  ,"relGov"] = 'Non-Goverment'
    return df

In [18]:
def arrear(df):
    
#     df = df[df['TOTAL_OUTSTANDING'] > 0]
    df['ARREAR_FILTER'] = None
    # df.loc[(df['TOTAL_OUTSTANDING'] < 5000) ,"ARREAR_FILTER"] = "<5k"
    # df.loc[((df['TOTAL_OUTSTANDING'] >= 5000) & (df['TOTAL_OUTSTANDING'] < 100000)),"ARREAR_FILTER"] = "Between 5K-25K	"
    # df.loc[((df['TOTAL_OUTSTANDING'] >= 25000) & (df['TOTAL_OUTSTANDING'] < 50000)),"ARREAR_FILTER"] = "Between 25K-50K"
    # df.loc[((df['TOTAL_OUTSTANDING'] >= 50000) & (df['TOTAL_OUTSTANDING'] < 100000)),"ARREAR_FILTER"] = "Between 50K-1Lac"
    # df.loc[df['TOTAL_OUTSTANDING'] >= 100000,"ARREAR_FILTER"] = "Above 1Lac"
    df.loc[(df['arrear_withot_Lpsc'] < 5000) ,"ARREAR_FILTER"] = "<5k"
    df.loc[((df['arrear_withot_Lpsc'] >= 5000) & (df['arrear_withot_Lpsc'] < 100000)),"ARREAR_FILTER"] = "Between 5K-25K"
    df.loc[((df['arrear_withot_Lpsc'] >= 25000) & (df['arrear_withot_Lpsc'] < 50000)),"ARREAR_FILTER"] = "Between 25K-50K"
    df.loc[((df['arrear_withot_Lpsc'] >= 50000) & (df['arrear_withot_Lpsc'] < 100000)),"ARREAR_FILTER"] = "Between 50K-1Lac"
    df.loc[df['arrear_withot_Lpsc'] >= 100000,"ARREAR_FILTER"] = "Above 1Lac"
    
    
    return df

In [19]:

def low_consumtion_filter(df):
    
#     df = df[df['TOTAL_OUTSTANDING'] > 0]
    df['low_consumtion_filter'] = None
    df.loc[df['CONSUMPTION_CURR_MNTH'] <= 10,"low_consumtion_filter"] = "0-10"
    df.loc[((df['CONSUMPTION_CURR_MNTH'] > 10 ) & (df['CONSUMPTION_CURR_MNTH'] <= 30)),"low_consumtion_filter"] = "10-30"
    df.loc[((df['CONSUMPTION_CURR_MNTH'] > 30) & (df['CONSUMPTION_CURR_MNTH'] <= 50)),"low_consumtion_filter"] = "30-50"
    df.loc[((df['CONSUMPTION_CURR_MNTH'] > 50) & (df['CONSUMPTION_CURR_MNTH'] <=100)),"low_consumtion_filter"] = "50-100"
    df.loc[df['CONSUMPTION_CURR_MNTH'] > 100,"low_consumtion_filter"] = "> 100"
    
    return df

In [46]:
def life_line(df):
    
#     df = df[df['TOTAL_OUTSTANDING'] > 0]
    df['life_line'] = False
#     df.loc[df['CONSUMPTION_CURR_MNTH'] <= 10,"low_consumtion_filter"] = "0-10"
#     df.loc[((df['CONSUMPTION_CURR_MNTH'] > 10 ) & (df['CONSUMPTION_CURR_MNTH'] <= 30)),"low_consumtion_filter"] = "10-30"
#     df.loc[((df['CONSUMPTION_CURR_MNTH'] > 30) & (df['CONSUMPTION_CURR_MNTH'] <= 50)),"low_consumtion_filter"] = "30-50"
    df.loc[((df['Cat'] == 'LMV1') & (df['CONSUMPTION_CURR_MNTH'] <=100) & (df['CON_STATUS'] == 'In Service') & (df['LOAD'] <= 1)),"life_line"] = True
#     df.loc[df['CONSUMPTION_CURR_MNTH'] > 100,"low_consumtion_filter"] = "> 100"
    
    return df

In [21]:
def mdi_cat(mdi,load):
    result=""
    
    if (math.isnan(mdi) or math.isnan(load) ):
        return None
    
    elif mdi <= 0.25*load:
        result = "less than 25% of load"
        return(result)
    elif mdi <= .5*load:
        result = "less than 50% of load and grtr than 25%"
        return(result)
    elif mdi <= load:
        result = "less than 100% of load and grtr than 50%"
        return(result)
    elif mdi<=1.50*load:
        result = "greter than 100% of load and less than 150%"
        return(result)
    elif (mdi<=2*load):
        result = "greter than 150% of load and less than 200%"
        return(result)
    return("greter than 200%")
    
        
    
        
    



def MDI_filter(df):
    
#     df = df[df['TOTAL_OUTSTANDING'] > 0]
    df['MDI_filter'] = df.apply(lambda row : mdi_cat(row['MDI'],row['LOAD']), axis = 1)
    
    
    
    return df

In [22]:
def billable(df):
    bil = ['In Service','TD','TD >6 MONTHS']
    df['bilable_flag'] = df['CON_STATUS'].isin(bil)
    return df

In [23]:
def CatLoad(df):
    df['LOAD'] = pd.to_numeric(df['LOAD'])   #,errors="coerce"
    df['LOAD_FILTER'] = None
    df.loc[df['LOAD'] < 5,"LOAD_FILTER"] = "1-5kw"
    df.loc[((df['LOAD'] >= 5) & (df['LOAD'] < 10)),"LOAD_FILTER"] = "5-9kw"
    df.loc[df['LOAD'] >= 10,"LOAD_FILTER"] = "great than 10kw"
    return df

In [24]:
def rdf_cat(df):
    cat246=['LMV2','LMV4B','LMV6']
    # df.Cat.isin(cat)
    df['LOAD'] = pd.to_numeric(df['LOAD'])   #,errors="coerce"
    df['rdf_cat'] = None
    df.loc[(df.Cat.isin(cat246)),"rdf_cat"] = "LMV2,LMV4B,LMV6"
    df.loc[((df['LOAD'] >= 3) & (df['Cat']=='LMV1')),"rdf_cat"] = "LMV1(3-9kw)"
    df.loc[((df['Cat']=='LMV1') & (df['LOAD'] <3)),"rdf_cat"] = "LMV1(less than 3kw)"
    # df.loc[((df['SUPPLY_TYPE'] == '17') & (df['LOAD'] <3)),"rdf_cat"] = "LMV1(rural and < 3kw)"
    # df.loc[((df['LOAD'] >= 5) & (df['LOAD'] < 10)),"rdf_cat"] = "5-9kw"
    df.loc[df['LOAD'] >= 10,"rdf_cat"] = "great than 10kw"
    df.loc[~df['rdf_cat'].notna(),"rdf_cat"] = "other(LMV3,LMV4A,LMV7)"
    
    
    return df

In [25]:
def Cat_VC(df):
    df['LOAD'] = pd.to_numeric(df['LOAD'])   #,errors="coerce"
    df['Cat_vc'] = None
    df.loc[((df['LOAD'] >= 1) & (df['Cat']=='LMV2')),"Cat_vc"] = "LMV2(1-5kw)"
    df.loc[((df['LOAD'] >= 3) & (df['Cat']=='LMV1')),"Cat_vc"] = "LMV1(3-5kw)"
    df.loc[((df['Cat']=='LMV1') & (df['LOAD'] <3)),"Cat_vc"] = "LMV1(urban and < 3kw)"
    df.loc[((df['SUPPLY_TYPE'] == '17') & (df['LOAD'] <3)),"Cat_vc"] = "LMV1(rural and < 3kw)"
    
    df.loc[((df['LOAD'] >= 5) & (df['LOAD'] < 10)),"Cat_vc"] = "5-9kw"
    df.loc[df['LOAD'] >= 10,"Cat_vc"] = "great than 10kw"
    return df

In [26]:
def new_cat(df):
    df['LOAD'] = pd.to_numeric(df['LOAD'])   #,errors="coerce"
    df['new_cat'] = None
    df.loc[((df['LOAD'] >= 1) & (df['Cat']=='LMV1')),"new_cat"] = "LMV1(2-5kw)"
    df.loc[((df['LOAD'] >= 5) & (df['Cat']=='LMV1')),"new_cat"] = "LMV1(5-9kw)"
    df.loc[((df['LOAD'] >= 1) & (df['Cat']=='LMV2')),"new_cat"] = "LMV2(2-5kw)"
    df.loc[((df['LOAD'] >= 5) & (df['Cat']=='LMV2')),"new_cat"] = "LMV2(5-9kw)"
    df.loc[((df['LOAD'] >= 1) & (df['Cat']=='LMV4A')),"new_cat"] = "LMV4(2-5kw)"
    df.loc[((df['LOAD'] >= 5) & (df['Cat']=='LMV4A')),"new_cat"] = "LMV4(5-9kw)"
    df.loc[((df['LOAD'] >= 1) & (df['Cat']=='LMV4B')),"new_cat"] = "LMV4(2-5kw)"
    df.loc[((df['LOAD'] >= 5) & (df['Cat']=='LMV4B')),"new_cat"] = "LMV4(5-9kw)"
    df.loc[df['LOAD'] >= 10,"new_cat"] = "great than 10kw"
    return df

In [27]:
def graph_VC(df):
    # df['LOAD'] = pd.to_numeric(df['LOAD'])   #,errors="coerce"
    df['graph_vc'] = None
    df.loc[(df['Cat']=='LMV2'),"graph_vc"] = "LMV2(urban)"
    df.loc[(df['Cat']=='LMV1'),"graph_vc"] = "LMV1(urban)"
    df.loc[(df['SUPPLY_TYPE'] == '17'),"graph_vc"] = "LMV1(rural)"
    df.loc[(df['SUPPLY_TYPE'] == '27'),"graph_vc"] = "LMV2(rural)"
    df.loc[(((df['Cat']=='HV1') | (df['Cat']=='HV2') | (df['Cat']=='LMV6')) & (df.gov_flag == False)) ,"graph_vc"] = "HV1,HV2 and LMV6"
    df.loc[(((df['Cat']=='LMV4B') | (df['Cat']=='LMV5') | (df['Cat']=='LMV9'))) ,"graph_vc"] = "Other(4b,5,9)"
    df.loc[( df.gov_flag == True) ,"graph_vc"] = "Government"
    
    # df.loc[((df['LOAD'] >= 5) & (df['LOAD'] < 10)),"Cat_vc"] = "5-9kw"
    # df.loc[df['LOAD'] >= 10,"Cat_vc"] = "great than 10kw"
    return df

In [28]:
def ots(df):
    # df['LOAD'] = pd.to_numeric(df['LOAD'])   #,errors="coerce"
    df['ots_vc'] = None
    df['discount_Nov'] = None
    df['discount_Dec(1-15)'] = None
    df['Registration_amount'] = None
    df['Registration_amount'] = 0.3*df['TOTAL_OUTSTANDING']
    df['Amount_to_be_paid_after_disc_Nov'] = None
    df['Amount_to_be_paid_after_disc_dec(1-15)'] = None
    
    df.loc[((df['Cat']=='LMV1') & (df['LOAD'] <= 1)),"ots_vc"] = "LMV1 And <=1kwh"
    df.loc[((df['Cat']=='LMV1')& (df['LOAD'] > 1)),"ots_vc"] = "LMV1 And >1kwh"
    df.loc[((df['Cat']=='LMV2') & (df['LOAD'] <= 3)),"ots_vc"] = "LMV2 And <=3kwh"
    df.loc[((df['Cat']=='LMV2')& (df['LOAD'] > 3)),"ots_vc"] = "LMV2 And >3kwh"
    df.loc[(df['Cat']=='LMV4B'),"ots_vc"] = "LMV4B"
    df.loc[(df['Cat']=='LMV5'),"ots_vc"] = "LMV5"
    df.loc[(df['Cat']=='LMV6'),"ots_vc"] = "LMV6"
    df.loc[(df['ots_vc']=='LMV1 And <=1kwh'),"discount_Nov"] = df[df['ots_vc']=='LMV1 And <=1kwh']['LPSC']*1
    df.loc[(df['ots_vc']=='LMV1 And <=1kwh'),"discount_Dec(1-15)"] = df[df['ots_vc']=='LMV1 And <=1kwh']['LPSC']*1
    df.loc[(df['ots_vc']=='LMV1 And >1kwh'),"discount_Nov"] = df[df['ots_vc']=='LMV1 And >1kwh']['LPSC']*0.9
    df.loc[(df['ots_vc']=='LMV1 And >1kwh'),"discount_Dec(1-15)"] = df[df['ots_vc']=='LMV1 And >1kwh']['LPSC']*0.8
    df.loc[(df['ots_vc']=='LMV2 And <=3kwh'),"discount_Nov"] = df[df['ots_vc']=='LMV2 And <=3kwh']['LPSC']*0.8
    df.loc[(df['ots_vc']=='LMV2 And <=3kwh'),"discount_Dec(1-15)"] = df[df['ots_vc']=='LMV2 And <=3kwh']['LPSC']*0.7
    df.loc[(df['ots_vc']=='LMV2 And >3kwh'),"discount_Nov"] = df[df['ots_vc']=='LMV2 And >3kwh']['LPSC']*0.6
    df.loc[(df['ots_vc']=='LMV2 And >3kwh'),"discount_Dec(1-15)"] = df[df['ots_vc']=='LMV2 And >3kwh']['LPSC']*0.5
    df.loc[(df['ots_vc']=='LMV4B'),"discount_Dec(1-15)"] = df[df['ots_vc']=='LMV4B']['LPSC']*0.5
    df.loc[(df['ots_vc']=='LMV4B'),"discount_Nov"] = df[df['ots_vc']=='LMV4B']['LPSC']*0.4
    df.loc[(df['ots_vc']=='LMV5'),"discount_Dec(1-15)"] = df[df['ots_vc']=='LMV5']['LPSC']*1
    df.loc[(df['ots_vc']=='LMV5'),"discount_Nov"] = df[df['ots_vc']=='LMV5']['LPSC']*1
    df.loc[(df['ots_vc']=='LMV6'),"discount_Dec(1-15)"] = df[df['ots_vc']=='LMV6']['LPSC']*0.5
    df.loc[(df['ots_vc']=='LMV6'),"discount_Nov"] = df[df['ots_vc']=='LMV6']['LPSC']*0.4
    
    df['Amount_to_be_paid_after_disc_Nov'] = df['TOTAL_OUTSTANDING']-df['discount_Nov']
    df['Amount_to_be_paid_after_disc_dec(1-15)'] = df['TOTAL_OUTSTANDING']-df['discount_Dec(1-15)']
    df['arrear_withot_Lpsc'] = df['TOTAL_OUTSTANDING']-df['LPSC']
    

    
    
    # df.loc[((df['LOAD'] >= 5) & (df['LOAD'] < 10)),"Cat_vc"] = "5-9kw"
    # df.loc[df['LOAD'] >= 10,"Cat_vc"] = "great than 10kw"
    return df

In [29]:
def paid_arrear(df):
    df["paid_arrear"] = 0
    df["temp"] = 0
    df.loc[(df['CURRENT_ASSESSMENT']>=0),"temp"] = df[df['CURRENT_ASSESSMENT']>=0]['CURRENT_ASSESSMENT'] - df[df['CURRENT_ASSESSMENT']>=0]['TOTAL_PAY_AMT']
    df.loc[(df['temp']<0),"paid_arrear"] = -1 * (df[df['temp']<0]["temp"])
    df.drop('temp', inplace=True, axis=1)
    return df

In [30]:
# def div(df):
#        #,errors="coerce"
#     df['Division'] = None
#     df.loc[((df['LOAD'] >= 1) & (df['Cat']=='LMV2')),"Division"] = "LMV2(1-5kw)"
#     df.loc[((df['LOAD'] >= 3) & (df['Cat']=='LMV1')),"Cat_vc"] = "LMV1(3-5kw)"
    
#     df.loc[((df['LOAD'] >= 5) & (df['LOAD'] < 10)),"Cat_vc"] = "5-9kw"
#     df.loc[df['LOAD'] >= 10,"Cat_vc"] = "great than 10kw"
#     return df

In [31]:
def Division_Name(df):
    # df['LOAD'] = pd.to_numeric(df['LOAD'])   #,errors="coerce"
    
    # df['Circle_Name'] = None
    df.insert(loc=0, column="Circle_Name", value=None)
    # df['Division_Name'] = None
    df.insert(loc=1, column="Division_Name", value=None)
    
    
    
    df.loc[df['DIV_CODE']== 'DIV354921',"Division_Name"] = "EDD I Bahraich"
    df.loc[df['DIV_CODE']== 'DIV354921',"Circle_Name"] = "EDC Bahraich"
    df.loc[df['DIV_CODE']== 'DIV354922',"Division_Name"] = "EDD II Nanpara"
    df.loc[df['DIV_CODE']== 'DIV354922',"Circle_Name"] = "EDC Bahraich"
    df.loc[df['DIV_CODE']== 'DIV354923',"Division_Name"] = "EDD III Kaisarganj"
    df.loc[df['DIV_CODE']== 'DIV354923',"Circle_Name"] = "EDC Bahraich"
    df.loc[df['DIV_CODE']== 'DIV355211',"Division_Name"] = "EDD I Gonda"
    df.loc[df['DIV_CODE']== 'DIV355211',"Circle_Name"] = "EDC Gonda"
    df.loc[df['DIV_CODE']== 'DIV355212',"Division_Name"] = "EDD II Gonda"
    df.loc[df['DIV_CODE']== 'DIV355212',"Circle_Name"] = "EDC Gonda"
    df.loc[df['DIV_CODE']== 'DIV355213',"Division_Name"] = "EDD III COLONELGANJ"
    df.loc[df['DIV_CODE']== 'DIV355213',"Circle_Name"] = "EDC Gonda"
    df.loc[df['DIV_CODE']== 'DIV355214',"Division_Name"] = "EDD IV MANKAPUR"
    df.loc[df['DIV_CODE']== 'DIV355214',"Circle_Name"] = "EDC Gonda"
    df.loc[df['DIV_CODE']== 'DIV355131',"Division_Name"] = "EDD Balrampur"
    df.loc[df['DIV_CODE']== 'DIV355131',"Circle_Name"] = "EDC Balrampur"
    df.loc[df['DIV_CODE']== 'DIV355132',"Division_Name"] = "EDD SHRAWASTI"
    df.loc[df['DIV_CODE']== 'DIV355132',"Circle_Name"] = "EDC Balrampur"
    df.loc[df['DIV_CODE']== 'DIV355133',"Division_Name"] = "EDD Tulsipur"
    df.loc[df['DIV_CODE']== 'DIV355133',"Circle_Name"] = "EDC Balrampur"

    return df

In [32]:
def faulty_Ageing(df):
    df['METER_READ_FLTY_CNT'] = pd.to_numeric(df['METER_READ_FLTY_CNT'])       #,errors="coerce"
    df['faulty_Ageing'] = None
    df.loc[df['METER_READ_FLTY_CNT'] < 2,"faulty_Ageing"] = "faulty<2"
    df.loc[((df['METER_READ_FLTY_CNT'] >= 2) & (df['METER_READ_FLTY_CNT'] < 3)),"faulty_Ageing"] = "faulty>=2 TO <3"
    df.loc[df['METER_READ_FLTY_CNT'] >= 3,"faulty_Ageing"] = "faulty >=3"
    return df

In [33]:
def categories(df):
    #Supplytype.srs.startswith('1') for lmv1
    convert_dict = {'SUPPLY_TYPE': str,
                
                }
 
    df = df.astype(convert_dict)
    df['SUPPLY_TYPE'] = df['SUPPLY_TYPE'].astype(str).str.replace('\\.0+$', '')
    df['Cat'] = None
#     df[df['SUPPLY_TYPE'].str.startswith('1')] = "LMV1"
    df.loc[df['SUPPLY_TYPE'].str.startswith('1', na=False),"Cat"] = "LMV1"
    df.loc[df['SUPPLY_TYPE'].str.startswith('2',na=False),"Cat"] = "LMV2"
    df.loc[df['SUPPLY_TYPE'].str.startswith('3', na=False),"Cat"] = "LMV3"
    # df.loc[df['SUPPLY_TYPE'].str.startswith('4', na=False),"Cat"] = "LMV4"
    df.loc[df['SUPPLY_TYPE'].str.startswith('5', na=False),"Cat"] = "LMV5"
    df.loc[df['SUPPLY_TYPE'].str.startswith('6', na=False),"Cat"] = "LMV6"
    df.loc[df['SUPPLY_TYPE'].str.startswith('7', na=False),"Cat"] = "LMV7"
    df.loc[df['SUPPLY_TYPE'].str.startswith('8', na=False),"Cat"] = "LMV8"
    df.loc[df['SUPPLY_TYPE'].str.startswith('9', na=False),"Cat"] = "LMV9"
#     df.loc[df['SUPPLY_TYPE'].str.startswith('10'),"Cat"] = "LMV10"
    df.loc[df['SUPPLY_TYPE'].str.startswith('H1', na=False),"Cat"] = "HV1"
    df.loc[df['SUPPLY_TYPE'].str.startswith('H2', na=False),"Cat"] = "HV2"
    df.loc[df['SUPPLY_TYPE'].str.startswith('H3', na=False),"Cat"] = "HV3"
    df.loc[df['SUPPLY_TYPE'].str.startswith('H4', na=False),"Cat"] = "HV4"
    lmv10 = ['100', '101', '103', '104', '105']
    # df['gov_flag'] = df['SUPPLY_TYPE'].isin(lmv10)
    df.loc[df['SUPPLY_TYPE'].isin(lmv10),"Cat"] = "LMV10"
    lmv4a = ['40','40A', '41', '41A', '42', '42A', '43', '44', '45','48']
    lmv4b = ['46', '47']
    df.loc[df['SUPPLY_TYPE'].isin(lmv4a),"Cat"] = "LMV4A"
    df.loc[df['SUPPLY_TYPE'].isin(lmv4b),"Cat"] = "LMV4B"
    return df

In [34]:
def type(df):
    df['LAST_PAY_DATE'] = pd.to_datetime(df['LAST_PAY_DATE'],dayfirst=True,errors ='coerce')
    df['DOC'] = pd.to_datetime(df['DOC'],dayfirst=True,errors ='coerce')
    df['LAST_BILL_DATE'] = pd.to_datetime(df['LAST_BILL_DATE'],dayfirst=True,errors ='coerce')
    df['LAST_OK_READ_STATUS'] = pd.to_datetime(df['LAST_OK_READ_STATUS'],dayfirst=True,errors ='coerce')
    df['TOTAL_OUTSTANDING'] = pd.to_numeric(df['TOTAL_OUTSTANDING'],errors="coerce")
    df['LOAD'] = pd.to_numeric(df['LOAD'],errors="coerce")
    df['CONSUMPTION_CURR_MNTH'] = pd.to_numeric(df['CONSUMPTION_CURR_MNTH'],errors="coerce")
    df['MDI'] = pd.to_numeric(df['MDI'],errors="coerce")
    df['CURRENT_ASSESSMENT'] = pd.to_numeric(df['CURRENT_ASSESSMENT'],errors="coerce")
    df['TOTAL_PAY_AMT'] = pd.to_numeric(df['TOTAL_PAY_AMT'],errors="coerce")
    df['LAST_PAY_AMT'] = pd.to_numeric(df['LAST_PAY_AMT'],errors="coerce")
    
    return df

In [35]:
def unpaid(df):
    df['paid_status'] = 0
    # df.loc[df['LAST_PAY_DATE'] < pd.Timestamp(2023, 1, month_unpaid),"unpaid_status"] = 0
    # df.loc[(pd.isnull(df['LAST_PAY_DATE'] )),"unpaid_status"] = 0     
    df.loc[df['LAST_PAY_DATE'] >= pd.Timestamp(2023, month_unpaid,1),"paid_status"] = 1
    
    return df

In [36]:
def newconection(df):
    df['newconection'] = 0
    # df.loc[df['LAST_PAY_DATE'] < pd.Timestamp(2023, 1, month_unpaid),"unpaid_status"] = 0
    # df.loc[(pd.isnull(df['LAST_PAY_DATE'] )),"unpaid_status"] = 0     
    df.loc[df['DOC'] >= pd.Timestamp(2022, 1,1),"newconection"] = 1
    
    return df

In [37]:
def conection_month(df):
    df['conection_month'] = "till_Aug"
    # df.loc[df['LAST_PAY_DATE'] < pd.Timestamp(2023, 1, month_unpaid),"unpaid_status"] = 0
    # df.loc[(pd.isnull(df['LAST_PAY_DATE'] )),"unpaid_status"] = 0     
    df.loc[df['DOC'] >= pd.Timestamp(2023, 9,1),"conection_month"] = "New Connection"
    # df.loc[((df['DOC'] >= pd.Timestamp(2023, 9,1)) & (df['DOC']< pd.Timestamp(2023, 10,1))),"conection_month"] = "Sep"
    # df.loc[((df['DOC'] >= pd.Timestamp(2023, 10,1)) & (df['DOC']< pd.Timestamp(2023, 11,1))),"conection_month"] = "Oct"
    # df.loc[((df['DOC'] >= pd.Timestamp(2023, 11,1)) & (df['DOC']< pd.Timestamp(2023, 12,1))),"conection_month"] = "Nov"
    
    return df

In [38]:
def Neverpaid(df):
    df['Neverpaid_count'] = 0
    df.loc[((pd.isnull(df['LAST_PAY_DATE'] )) & (df['DOC'] < pd.Timestamp(2023,month_doc, 1))),"Neverpaid_status"] = 1
    # df.loc[pd.isnull(df['Neverpaid_status']),"Neverpaid_status"] = 0
    
    return df

In [39]:
start = time.time()
df = []
df = Parallel(n_jobs=-1, verbose=10,prefer="threads")(delayed(loop)(file_name) for file_name in mylist)
df = pd.concat(df, ignore_index=True)


end = time.time()
print("CSV:", end - start)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 20 concurrent workers.
C:\Users\HP\AppData\Local\Temp\ipykernel_21180\2667646776.py:2: DtypeWarning: Columns (3,11,14,17,20,51,52,82) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(f"{month}/{circle}/master/{file_name}",on_bad_lines='skip')
C:\Users\HP\AppData\Local\Temp\ipykernel_21180\2667646776.py:2: DtypeWarning: Columns (3,82) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(f"{month}/{circle}/master/{file_name}",on_bad_lines='skip')
C:\Users\HP\AppData\Local\Temp\ipykernel_21180\2667646776.py:2: DtypeWarning: Columns (3,82) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(f"{month}/{circle}/master/{file_name}",on_bad_lines='skip')
[Parallel(n_jobs=-1)]: Done   3 out of  10 | elapsed:   14.7s remaining:   34.3s
C:\Users\HP\AppData\Local\Temp\ipykernel_21180\2667646776.py:2: DtypeWarning: Columns (80,82,109) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(f"{month}/{circle}/master/{file_name}",on_bad_lines='skip')
C:\Users\HP\AppData\Local\Temp\ipykernel_21180\2667646776.py:2: DtypeWarning: Columns (5,77,80,82,109) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(f"{month}/{circle}/master/{file_name}",on_bad_lines='skip')
[Parallel(n_jobs=-1)]: Done   5 out of  10 | elapsed:   18.3s remaining:   18.3s
C:\Users\HP\AppData\Local\Temp\ipykernel_21180\2667646776.py:2: DtypeWarning: Columns (2,3,10,20,80,82,109) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(f"{month}/{circle}/master/{file_name}",on_bad_lines='skip')
C:\Users\HP\AppData\Local\Temp\ipykernel_21180\2667646776.py:2: DtypeWarning: Columns (10,77,80,82,109) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(f"{month}/{circle}/master/{file_name}",on_bad_lines='skip')
[Parallel(n_jobs=-1)]: Done   7 out of  10 | elapsed:   20.8s remaining:    8.9s
C:\Users\HP\AppData\Local\Temp\ipykernel_21180\2667646776.py:2: DtypeWarning: Columns (5,80,82,109,111) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(f"{month}/{circle}/master/{file_name}",on_bad_lines='skip')
C:\Users\HP\AppData\Local\Temp\ipykernel_21180\2667646776.py:2: DtypeWarning: Columns (3,17,80,82) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(f"{month}/{circle}/master/{file_name}",on_bad_lines='skip')
C:\Users\HP\AppData\Local\Temp\ipykernel_21180\2667646776.py:2: DtypeWarning: Columns (2,3,4,21,82) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(f"{month}/{circle}/master/{file_name}",on_bad_lines='skip')
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:   24.8s finished

CSV: 28.97943902015686

In [91]:
# for x in mylist:
#     df = loop(x)
#     div = ['DIV354921', 'DIV354922','DIV354923', 'DIV355131',
#        'DIV355132', 'DIV355133', 'DIV355211', 'DIV355212', 'DIV355213', 'DIV355214']
#     df.drop(df.index[~df["DIV_CODE"].isin(div)],axis=0,inplace=True)

In [92]:
types=df.dtypes

In [93]:
types

DIV_CODE                          object
SDO_CODE                          object
ACCT_ID                          float64
KNO                               object
MOBILE_NO                        float64
LANDLINE_NO                      float64
BOOK_NO                           object
SCNO                              object
NAME                              object
ADDRESS                           object
SUPPLY_TYPE                       object
LOAD                             float64
LOAD_UNIT                         object
DOC                               object
SECURITY_AMT                      object
CON_STATUS                        object
SERIAL_NBR                        object
MULTIPLY_FACTOR                  float64
METER_STATUS                      object
LAST_BILL_DATE                    object
CLOSE_READING                     object
MDI                               object
BILL_BASIS                        object
BILL_TYP                          object
CONSUMPTION_CURR_MNTH             object
CONSUMPTION_PREV_MNTH             object
CONSUMPTION_PREV_TO_PREV_MNTH    float64
ARREAR                           float64
LPSC                              object
CURRENT_ASSESSMENT               float64
CURRENT_CYCLE_LPSC               float64
TOTAL_OUTSTANDING                float64
DUE_DATE_REBATE                  float64
LAST_OK_READING                  float64
LAST_OK_READ_STATUS               object
METER_READ_FLTY_CNT              float64
LAST_PAY_AMT                     float64
LAST_PAY_DATE                     object
SUBSTATION                        object
FEEDER                            object
DT                                object
POLE_NO                           object
OPR_FLG                           object
BILL_AFTER_DATE                   object
METER_READ_REMARK                 object
INSTALLATION_DATE                 object
SBM_BILL_DATE                     object
SBM_MACHINE_ID                    object
BILL_CYC_CD                       object
TOWN                              object
SERVICE_CYC_CD                    object
CT_RATIO                          object
PT_RATIO                          object
EC                               float64
FC                               float64
REBATES                          float64
MIN_CHARGES                      float64
FUEL_SURCHARGE                   float64
DEMAND_AMT                       float64
LTMETERING_CHARGES               float64
CAP_CHARGES                      float64
REG_SURCHARGE                     object
REG_SURCHARGE_2                   object
ELECTRICITY_DUTY                 float64
TARIFF_ADJUSTMENTS               float64
PROV_ADJUSTMENTS                 float64
CA_ABR                           float64
INF_BILL                          object
MR_SOURCE_CD                      object
HEALTHY_CONSUMER_FLAG             object
METER_BADGE_NO                    object
MTR_MAKE                          object
CONNECTION_TYPE                   object
LOOMS_GRTRTHN_60                 float64
LOOMS_LESSTHN_60                 float64
SUPPLY_VOLTAGE                    object
METER_VOLTAGE                    float64
MTR_TYPE_CD                       object
LATITUDE                         float64
LONGTIUDE                        float64
INDUSTRIAL_FLAG                   object
ACCT_INFLALTED_FLAG               object
GOVT_CODE                         object
OPENING_READING_KWH              float64
OPENING_READING_KVAH             float64
OPENING_READING_DATE              object
CLOSING_READING_KWH              float64
CLOSING_READING_KVAH             float64
CLOSING_READING_DATE              object
CONSUMPTION_KWH                  float64
CONSUMPTION_KVAH                 float64
BILLED_AMOUNT                    float64
MTR_EXCEP_CD                     float64
MTR_NO_RECORDED                   object
MTR_MAKE_RECORDED                 object
MANUL_BILL_EXCEP                  object
MTR_CONFIG_TY_CD                  object
TOTAL_PAY_AMT                    float64
PAYMENT_SRCE                      object
MTR_RDR_AGENCY                    object
SS_NAME                           object
SS_GIS_CODE                       object
FEEDER_NAME                       object
FEEDER_GIS_CODE                   object
DT_NAME                           object
DT_GIS_ID                         object
DT_GIS_CODE                       object
NETWID                            object
CONSUMER_BASE                     object
CONSUMER_BASE.1                   object
FATHER_NAME                       object
VILLAGE_CODE                     float64
VILLAGE_NAME                      object
HABITAT_CODE                     float64
HABITAT_NAME                      object
DISTRICT                          object
TEMP_DISCON_DATE                  object
CROSS_SUBSIDY                    float64
PTW_SUBSIDY                      float64
TARIFF_SUBSIDY                   float64
POWER_LOOM_SUBSIDY               float64
INOP_AMT                         float64
dtype: object

In [94]:
df.CONSUMER_BASE.unique()

array(['URBAN', 'RURAL', nan], dtype=object)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1521793 entries, 0 to 1521792
Columns: 122 entries, DIV_CODE to INOP_AMT
dtypes: float64(47), object(75)
memory usage: 1.4+ GB

In [40]:
df = df[df['CONSUMER_BASE'].notna()]

In [97]:
df.columns

Index(['DIV_CODE', 'SDO_CODE', 'ACCT_ID', 'KNO', 'MOBILE_NO', 'LANDLINE_NO',
       'BOOK_NO', 'SCNO', 'NAME', 'ADDRESS',
       ...
       'VILLAGE_NAME', 'HABITAT_CODE', 'HABITAT_NAME', 'DISTRICT',
       'TEMP_DISCON_DATE', 'CROSS_SUBSIDY', 'PTW_SUBSIDY', 'TARIFF_SUBSIDY',
       'POWER_LOOM_SUBSIDY', 'INOP_AMT'],
      dtype='object', length=122)

In [98]:
df.DIV_CODE.unique()

array(['DIV354921', 'DIV354922', 'DIV354923', 'DIV355131', 'DIV355132',
       'DIV355133', 'DIV355211', 'DIV355212', 'DIV355213', 'DIV355214'],
      dtype=object)

In [41]:
div = ['DIV354921', 'DIV354922','DIV354923', 'DIV355131',
       'DIV355132', 'DIV355133', 'DIV355211', 'DIV355212', 'DIV355213', 'DIV355214']
df.drop(df.index[~df["DIV_CODE"].isin(div)],axis=0,inplace=True)

In [100]:
df.DIV_CODE.unique()

array(['DIV354921', 'DIV354922', 'DIV354923', 'DIV355131', 'DIV355132',
       'DIV355133', 'DIV355211', 'DIV355212', 'DIV355213', 'DIV355214'],
      dtype=object)

In [101]:
df.SDO_CODE.unique()

array(['SDO3549212', 'SDO3549211', 'SDO3249329', 'SDO3549222',
       'SDO3549223', 'SDO3549221', 'SDO3549224', 'SDO3549231',
       'SDO3549234', 'SDO3549237', 'SDO3549232', 'SDO3549236',
       'SDO3551311', 'SDO3551312', 'SDO3551321', 'SDO3551323',
       'SDO3551324', 'SDO3551322', 'SDO3551331', 'SDO3551336',
       'SDO3551334', 'SDO3551335', 'SDO3551332', 'SDO3552111',
       'SDO3552113', 'SDO3552112', 'SDO3552124', 'SDO3552122',
       'SDO3552125', 'SDO3552121', 'SDO3552123', 'SDO3552131',
       'SDO3552132', 'SDO3552142', 'SDO3552143', 'SDO3552141'],
      dtype=object)

In [102]:
df[df["SDO_CODE"] == 'SDO3249329' ]

,DIV_CODE,SDO_CODE,ACCT_ID,KNO,MOBILE_NO,LANDLINE_NO,BOOK_NO,SCNO,NAME,ADDRESS,...,VILLAGE_NAME,HABITAT_CODE,HABITAT_NAME,DISTRICT,TEMP_DISCON_DATE,CROSS_SUBSIDY,PTW_SUBSIDY,TARIFF_SUBSIDY,POWER_LOOM_SUBSIDY,INOP_AMT
2284,DIV354921,SDO3249329,6.566506e+09,NaN,8.052109e+09,NaN,' 324932902501,MV_0120249,RAJESH KUMAR GUPTA S/O RAM LAKHAN GUPTA,STEELGANJ TALAB BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
3365,DIV354921,SDO3249329,7.615839e+09,NaN,8.090600e+09,NaN,' 324932902501,NaN,SRI PRAKASH SONI S/O SRI UMASHANKAR SONI,QAZIPURA NEAR PACHKAUDI HOTEL BAHRAICH Bahraic...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
5582,DIV354921,SDO3249329,9.065903e+09,NaN,8.874604e+09,NaN,' 324932912721,NaN,SMT RINKU DEVI W/O MANOJ KUMAR,HAMJAPURA NEAR HANUMAN PRASAD YADAV BAHRAICH...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
5606,DIV354921,SDO3249329,3.408189e+09,NaN,9.450426e+09,NaN,' 324932912711,NaN,IRFAN AHMAD S/O KURBAN AHMAD,NOORUDDINCHAK DARGAH SHARIF BAHRAICH Bahraich ...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
5648,DIV354921,SDO3249329,8.798896e+09,NaN,NaN,NaN,' 324932912618,MV_064554,MOHD GUFRAN,KAZIPURA ' BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
5714,DIV354921,SDO3249329,7.239130e+09,NaN,6.390595e+09,NaN,' 324932912613,NaN,ARMAAN ALI S/O JALEEL AHMAD,SALARGANJ NEAR GHASIYARI MASJID BAHRAICH Bah...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
8385,DIV354921,SDO3249329,3.834376e+09,NaN,NaN,NaN,' 324932902501,MV_0120346,MITHLESH KUMARI PANDEY W/O RAM KUMAR PANEY,JHURIYA SEKHDAHIR BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
9043,DIV354921,SDO3249329,8.220708e+09,NaN,1.000000e+10,NaN,' 324932902501,MV_0109141,KARINA W/O MOHD SHARIF,MAHRAAJ GAON BAXIPURA KALPIPARA BAHRAICH Bahr...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
11549,DIV354921,SDO3249329,5.077762e+09,NaN,9.451406e+09,NaN,' 324932912735,NaN,RICHA SHUKLA,000 SINGHAPARASI PAHADA FAKKAD BAHRAICH BAHRAI...,...,NaN,NaN,NaN,BAHRAICH,NaN,-17.0,0.0,0.0,0.0,NaN
14620,DIV354921,SDO3249329,1.840163e+09,NaN,9.450425e+09,NaN,' 324932902501,MV_0120394,HABEEB AHMAd S/O HAZI DARGAHI,SUFIPURA BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
17472,DIV354921,SDO3249329,5.010189e+09,NaN,8.417878e+09,NaN,' 324932912828,MV_0120395,Mr MAYANK TANDON S/O Mr S N TANDON,HNO 193 RAIPURRAJA CIVIL LINE BAHRAICH Bahraic...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
19276,DIV354921,SDO3249329,6.095345e+09,NaN,NaN,NaN,' 324932902501,NaN,SRI SANA ULLAH KHAN S/O SRI AMAN ULLAH KHAN,NAZIRPURA BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
20745,DIV354921,SDO3249329,3.396572e+08,NaN,9.628364e+09,NaN,' 324932912816,MV_0118726,SUMITRA DEVI W/O LATE-SANJAY KUMAR,BARIHOT NEAR-MAKBARA CHOURAHA BAHRAICH Bahrai...,...,NaN,NaN,NaN,BAHRAICH,02-SEP-2020,-112.0,0.0,0.0,0.0,NaN
21386,DIV354921,SDO3249329,6.702401e+09,NaN,7.275273e+09,NaN,' 324932913132,NaN,SEE MA,mojmahamand jalal nagar near kaushal narsing h...,...,NaN,NaN,NaN,SHAHJAHANPUR,NaN,0.0,0.0,0.0,0.0,NaN
23038,DIV354921,SDO3249329,8.220286e+09,NaN,9.838073e+09,NaN,' 324932912719,MV_0120389,SMT NAFEES FATMA W/O LATE SRI HABEEB ULLAH KHAN,GULAM ALIPURA BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
26640,DIV354921,SDO3249329,7.696859e+09,NaN,9.616990e+09,NaN,' 354921212820,MV_0120268,Smt KRISHNA PATHAK D/O INDRAJEET PATHAK,DHAPALIPURWA NAZIRPURA BAHRAICH Bahraich UP-27...,...,NaN,NaN,NaN,BAHRAICH,NaN,-148.5,0.0,0.0,0.0,NaN
29554,DIV354921,SDO3249329,2.124688e+09,NaN,7.087868e+09,NaN,' 354921212622,NaN,MANTI DEVI,154/104 BASHIR GANJ BASHIR GANJ BAHRAICH UP-27...,...,NaN,NaN,NaN,,NaN,0.0,0.0,-248.5,0.0,NaN
29806,DIV354921,SDO3249329,5.436829e+09,NaN,7.081084e+09,NaN,' 324932902501,NaN,FARIYAD ALI S/O CHAND BABU,MADHAVRETI BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
30039,DIV354921,SDO3249329,6.698243e+09,NaN,9.125669e+09,NaN,' 354921212615,NaN,RAJESH KUMAR GOEL,00045 BHAWAN SASARPARA BAHRAICH UP-271801 IND,...,RAMPUR DHOBIYA HAR,171489002.0,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
32427,DIV354921,SDO3249329,3.113953e+08,NaN,8.887640e+09,NaN,' 324932912521,MV_0100756,RANJANA NIGAM W/O SHALENDRA MOHAN,BRAHMANIPURA BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,10-JAN-2023,0.0,0.0,0.0,0.0,4873.0
34155,DIV354921,SDO3249329,6.579782e+09,NaN,9.454946e+09,NaN,' 324932912617,NaN,Nizamul Hasan,New Kasimpura Sabeer Vidhayak Kasimpura BAHRAI...,...,NaN,NaN,NaN,BAHRAICH,NaN,-81.0,0.0,0.0,0.0,NaN
34272,DIV354921,SDO3249329,8.397109e+09,NaN,9.452035e+09,NaN,' 324932912735,NaN,AKANKSHA SRIVASTAVA,00 PALRI BAG AKHTAR BAGIYA KE PAS BAKSHIPURA B...,...,NaN,NaN,NaN,BAHRAICH,NaN,-48.0,0.0,0.0,0.0,NaN
35033,DIV354921,SDO3249329,7.826995e+08,NaN,8.604696e+09,NaN,' 354921212615,NaN,SALIM AHMAD S/O SAFIULLHA,MANSOORGANJ BADI TAKIYA BAHRAICH Bahraich UP-...,...,NaN,NaN,NaN,BAHRAICH,NaN,-143.0,0.0,0.0,0.0,NaN
35567,DIV354921,SDO3249329,8.128586e+09,NaN,7.985186e+09,NaN,' 324932912915,NaN,SMT ZUBEIDA SIDDIQUI,NA NA SHAHPUR JOT HAT BAHRAICH UP-271801 IND,...,NaN,NaN,NaN,,NaN,-11.0,0.0,0.0,0.0,NaN
37498,DIV354921,SDO3249329,7.020961e+09,NaN,7.398974e+09,NaN,' 324932912705,NaN,TASVVAR BEG,12336 SABJI MANDI SALARPUR SABJI MANDI BAHRAIC...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
37966,DIV354921,SDO3249329,9.004753e+09,NaN,9.956277e+09,NaN,' 324932962905,NaN,Jagdish Prasad,bahadur chak bahadur chak CHITAURA BAHRAICH UP...,...,RAMPUR BARAIE,1207793.0,NaN,BAHRAICH,NaN,NaN,NaN,NaN,NaN,NaN
39050,DIV354921,SDO3249329,4.304487e+09,NaN,NaN,NaN,' 324932902501,NaN,RAJU S/O NIZAMUDDIN,SALARGANJ NAGOKHATTA\t BAHRAICH Bahraich UP-27...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
39620,DIV354921,SDO3249329,8.417425e+09,NaN,9.450473e+09,NaN,' 324932902501,NaN,SMT RESHMA W/O SRI HASAN AHMAD,QAZIPURA SOUTH BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
39668,DIV354921,SDO3249329,7.357592e+09,NaN,9.838204e+09,NaN,' 324932902501,MV_0120296,AZIM KHAN S/O AZMAT KHAN,SUMAIYA MALL NAZIRPURA BAHRAICH Bahraich UP-27...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
40087,DIV354921,SDO3249329,2.253558e+09,NaN,9.044435e+09,NaN,' 324932902501,NaN,SMT BABITA W/O VIVEK KUMAR,RAIPUR RAJA JAIL ROAD BAHRAICH Bahraich UP-2...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
46684,DIV354921,SDO3249329,5.183055e+09,NaN,8.874022e+09,NaN,' 324932912613,MBV_0101296,KALLU SINGH S/O BHAGOUTI SINGH,SALARGANJ KALENDERPURWA BAHRAICH Bahraich UP-...,...,NaN,NaN,NaN,BAHRAICH,NaN,-137.0,0.0,0.0,0.0,NaN
46794,DIV354921,SDO3249329,6.940671e+08,NaN,8.115010e+09,NaN,' 324932902501,NaN,SANDEEP KUMAR JAISWAL S/O CHOTE LAL JAISWAL,CHAWNI SARKAR VISHNO COLONY BAHRAICH Bahraic...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
50545,DIV354921,SDO3249329,3.618005e+09,NaN,7.800095e+09,NaN,' 324932902501,NaN,SMT NAZEERA BEGAM W/O LATE NASIR AHMAD,SALARGANJ BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
52721,DIV354921,SDO3249329,7.778312e+09,NaN,9.648387e+09,NaN,' 324932900101,NaN,MOHD AHMAD S/O SHAFIQUE AHMAD,WAZIRBAG NEAR - ALOK JWELARS BAHRAICH Bahraich...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
53478,DIV354921,SDO3249329,2.677499e+09,NaN,7.376961e+09,NaN,' 324932962905,NaN,MUBARAK,BISHUNPUR RAHU BISHUNPUR RAHU CHITATURA BAHRAI...,...,RAMPUR BARAIE,1207793.0,NaN,BAHRAICH,NaN,NaN,NaN,NaN,NaN,NaN
55922,DIV354921,SDO3249329,3.258851e+09,NaN,1.000000e+10,NaN,' 324932902501,MV_0109080,SMT SHANTI W/O LATE RATAN LAL,HAMJAPURA BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
58899,DIV354921,SDO3249329,3.637950e+09,NaN,8.738063e+09,NaN,' 324932912711,NaN,ARJUN S/O RAM BABU,MEERPUR KASBA HASAN NAGAR BAHRAICH Bahraich U...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
59143,DIV354921,SDO3249329,3.439509e+09,NaN,6.306116e+09,NaN,' 324932912614,NaN,AFTAB AHMAD ANSARI,305 GUDRI NEAR HAJI RASHEED MASJID GUDRI BAHRA...,...,NaN,NaN,NaN,,NaN,0.0,0.0,0.0,0.0,NaN
61507,DIV354921,SDO3249329,9.095954e+09,NaN,8.858288e+09,NaN,' 324932902501,MV_0120389,HANEEF S/O JALEEL,NAZIRPURA BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
61537,DIV354921,SDO3249329,3.399746e+09,NaN,1.000000e+10,NaN,' 324932902501,NaN,MOHD SHOAIB S/O MOHD SALIM,SALARGANJ BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
62101,DIV354921,SDO3249329,7.894845e+09,NaN,9.598209e+09,NaN,' 324932912617,NaN,NIYAMAT ALI S/O RAHMAT ALI,CHANDPURA NEAR SHABBIR MLA HOUSE BAHRAICH Ba...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
62813,DIV354921,SDO3249329,9.949870e+08,NaN,8.081002e+09,NaN,' 324932962504,MV_0101980,ADITYA SHUKLA S/O DEVI PRASAD SHUKLA,BARHAMANIPURA NEAR-ANAND HOTEL BAHRAICH Bahra...,...,NaN,NaN,NaN,BAHRAICH,04-NOV-2022,0.0,0.0,0.0,0.0,NaN
67486,DIV354921,SDO3249329,4.412696e+09,NaN,9.670561e+09,NaN,' 324932902501,NaN,RAHMAT ALI KHAN S/O FAYYAJ ALI,CHAUK BAZAR BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
73411,DIV354921,SDO3249329,1.834526e+08,NaN,7.388365e+09,NaN,' 354921212613,NaN,SMT HASRAT JAHAN W/O AHMAD KHAN,SALARGANJ NEAR MAULANA ARIF ALI HOUSE\tBAHRAIC...,...,NaN,NaN,NaN,BAHRAICH,14-JAN-2023,-1.0,0.0,0.0,0.0,NaN
77139,DIV354921,SDO3249329,7.120729e+09,NaN,8.423887e+09,NaN,' 324932902501,NaN,SMT SAHANA PRAVEEN W/O HABIB AHMAD,SALARGANJ BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
77770,DIV354921,SDO3249329,1.843786e+09,NaN,9.721954e+09,NaN,' 324932962905,NaN,Bhola Prasad,RATANPUR RATANPUR JAMUNAHA BAHRAICH UP-111111 IND,...,RAMPUR BARAIE,1207793.0,NaN,BAHRAICH,NaN,NaN,NaN,NaN,NaN,NaN
79282,DIV354921,SDO3249329,5.908154e+09,NaN,9.781324e+09,NaN,' 324932912735,NaN,CHANDRAVATI,00 NASUTIYA KALPIPARA GADARIYAN PURWA BAHRAICH...,...,NaN,NaN,NaN,,NaN,0.0,0.0,-84.0,0.0,NaN
82453,DIV354921,SDO3249329,6.241259e+09,NaN,7.068764e+09,NaN,' 324932912711,NaN,SMT MUUNI WO SRI RAJU,NA DARGAH SHARIF NEAR MONU HOTEL DARGAH SHARIF...,...,NaN,NaN,NaN,BAHRAICH,NaN,-152.5,0.0,0.0,0.0,NaN
82580,DIV354921,SDO3249329,3.763080e+09,NaN,9.889373e+09,NaN,' 324932902501,NaN,RAZA ABBAS S/O ARSHAD HUSAIN,AKBARPURA SUMAIYA MAAL BAHRAICH Bahraich UP-27...,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN
84193,DIV354921,SDO3249329,8.811008e+09,NaN,9.919691e+09,NaN,' 324932902501,MV_0120250,MAHTAB ALAM S/O KHALEEL AHMAD,BADIHAT BAHRAICH Bahraich UP-271801 IND,...,NaN,NaN,NaN,BAHRAICH,NaN,0.0,0.0,0.0,0.0,NaN

In [103]:
df.info(verbose = True,null_counts = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_24392\3229557052.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(verbose = True,null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1521791 entries, 0 to 1521792
Data columns (total 122 columns):
 #    Column                         Non-Null Count    Dtype
---   ------                         --------------    -----
 0    DIV_CODE                       1521791 non-null  object
 1    SDO_CODE                       1521791 non-null  object
 2    ACCT_ID                        1521791 non-null  float64
 3    KNO                            1416958 non-null  object
 4    MOBILE_NO                      1406586 non-null  float64
 5    LANDLINE_NO                    21 non-null       float64
 6    BOOK_NO                        1521791 non-null  object
 7    SCNO                           1455677 non-null  object
 8    NAME                           1521263 non-null  object
 9    ADDRESS                        1521791 non-null  object
 10   SUPPLY_TYPE                    1517280 non-null  object
 11   LOAD                           1502258 non-null  float64
 12   LOAD_UNIT                      1502258 non-null  object
 13   DOC                            1521791 non-null  object
 14   SECURITY_AMT                   1517465 non-null  object
 15   CON_STATUS                     1521791 non-null  object
 16   SERIAL_NBR                     1344592 non-null  object
 17   MULTIPLY_FACTOR                1344592 non-null  float64
 18   METER_STATUS                   1344592 non-null  object
 19   LAST_BILL_DATE                 1360001 non-null  object
 20   CLOSE_READING                  1314445 non-null  object
 21   MDI                            1370150 non-null  object
 22   BILL_BASIS                     1311932 non-null  object
 23   BILL_TYP                       1313151 non-null  object
 24   CONSUMPTION_CURR_MNTH          1371335 non-null  object
 25   CONSUMPTION_PREV_MNTH          1362246 non-null  object
 26   CONSUMPTION_PREV_TO_PREV_MNTH  1358706 non-null  float64
 27   ARREAR                         1504612 non-null  float64
 28   LPSC                           1458747 non-null  object
 29   CURRENT_ASSESSMENT             1371335 non-null  float64
 30   CURRENT_CYCLE_LPSC             1371335 non-null  float64
 31   TOTAL_OUTSTANDING              1519719 non-null  float64
 32   DUE_DATE_REBATE                64792 non-null    float64
 33   LAST_OK_READING                1357512 non-null  float64
 34   LAST_OK_READ_STATUS            1357512 non-null  object
 35   METER_READ_FLTY_CNT            173241 non-null   float64
 36   LAST_PAY_AMT                   819496 non-null   float64
 37   LAST_PAY_DATE                  819496 non-null   object
 38   SUBSTATION                     1470708 non-null  object
 39   FEEDER                         1447836 non-null  object
 40   DT                             273638 non-null   object
 41   POLE_NO                        1521791 non-null  object
 42   OPR_FLG                        1521791 non-null  object
 43   BILL_AFTER_DATE                9713 non-null     object
 44   METER_READ_REMARK              1357494 non-null  object
 45   INSTALLATION_DATE              1344591 non-null  object
 46   SBM_BILL_DATE                  1220405 non-null  object
 47   SBM_MACHINE_ID                 1220405 non-null  object
 48   BILL_CYC_CD                    1521791 non-null  object
 49   TOWN                           184045 non-null   object
 50   SERVICE_CYC_CD                 1502258 non-null  object
 51   CT_RATIO                       18 non-null       object
 52   PT_RATIO                       18 non-null       object
 53   EC                             1371335 non-null  float64
 54   FC                             1371335 non-null  float64
 55   REBATES                        1371335 non-null  float64
 56   MIN_CHARGES                    1368597 non-null  float64
 57   FUEL_SURCHARGE                 1371335 non-null  float64
 58   DEMAND_AMT                     1371335 non-null  float64
 59   LTMETERING_CHARGES             1371335 non-null  float64
 60   CAP_CHARGES                    1371335 non-null  float64
 61   REG_SURCHARGE                  1364388 non-null  object
 62   REG_SURCHARGE_2                1371335 non-null  object
 63   ELECTRICITY_DUTY               1371335 non-null  float64
 64   TARIFF_ADJUSTMENTS             1 non-null        float64
 65   PROV_ADJUSTMENTS               1371335 non-null  float64
 66   CA_ABR                         1361650 non-null  float64
 67   INF_BILL                       1371335 non-null  object
 68   MR_SOURCE_CD                   1311707 non-null  object
 69   HEALTHY_CONSUMER_FLAG          1521791 non-null  object
 70   METER_BADGE_NO                 1344592 non-null  object
 71   MTR_MAKE                       1344584 non-null  object
 72   CONNECTION_TYPE                1519980 non-null  object
 73   LOOMS_GRTRTHN_60               1517731 non-null  float64
 74   LOOMS_LESSTHN_60               1517731 non-null  float64
 75   SUPPLY_VOLTAGE                 1502257 non-null  object
 76   METER_VOLTAGE                  1384474 non-null  float64
 77   MTR_TYPE_CD                    130235 non-null   object
 78   LATITUDE                       1209657 non-null  float64
 79   LONGTIUDE                      1209657 non-null  float64
 80   INDUSTRIAL_FLAG                1573 non-null     object
 81   ACCT_INFLALTED_FLAG            1371335 non-null  object
 82   GOVT_CODE                      21113 non-null    object
 83   OPENING_READING_KWH            1311966 non-null  float64
 84   OPENING_READING_KVAH           1160858 non-null  float64
 85   OPENING_READING_DATE           1311966 non-null  object
 86   CLOSING_READING_KWH            1311966 non-null  float64
 87   CLOSING_READING_KVAH           1160858 non-null  float64
 88   CLOSING_READING_DATE           1311966 non-null  object
 89   CONSUMPTION_KWH                1311966 non-null  float64
 90   CONSUMPTION_KVAH               1160858 non-null  float64
 91   BILLED_AMOUNT                  1371335 non-null  float64
 92   MTR_EXCEP_CD                   12239 non-null    float64
 93   MTR_NO_RECORDED                1238423 non-null  object
 94   MTR_MAKE_RECORDED              1238463 non-null  object
 95   MANUL_BILL_EXCEP               1170359 non-null  object
 96   MTR_CONFIG_TY_CD               1344591 non-null  object
 97   TOTAL_PAY_AMT                  211381 non-null   float64
 98   PAYMENT_SRCE                   202317 non-null   object
 99   MTR_RDR_AGENCY                 1211281 non-null  object
 100  SS_NAME                        106008 non-null   object
 101  SS_GIS_CODE                    106008 non-null   object
 102  FEEDER_NAME                    106008 non-null   object
 103  FEEDER_GIS_CODE                106008 non-null   object
 104  DT_NAME                        115052 non-null   object
 105  DT_GIS_ID                      106008 non-null   object
 106  DT_GIS_CODE                    106008 non-null   object
 107  NETWID                         52202 non-null    object
 108  CONSUMER_BASE                  1521791 non-null  object
 109  CONSUMER_BASE.1                1521791 non-null  object
 110  FATHER_NAME                    1279888 non-null  object
 111  VILLAGE_CODE                   953963 non-null   float64
 112  VILLAGE_NAME                   28817 non-null    object
 113  HABITAT_CODE                   953963 non-null   float64
 114  HABITAT_NAME                   925124 non-null   object
 115  DISTRICT                       1521790 non-null  object
 116  TEMP_DISCON_DATE               26693 non-null    object
 117  CROSS_SUBSIDY                  1371335 non-null  float64
 118  PTW_SUBSIDY                    1371335 non-null  float64
 119  TARIFF_SUBSIDY                 1371335 non-null  float64
 120  POWER_LOOM_SUBSIDY             1371335 non-null  float64
 121  INOP_AMT                       182475 non-null   float64
dtypes: float64(47), object(75)
memory usage: 1.4+ GB

In [104]:
# df =Division_Name(df)

In [105]:
# # df["Division_Name"].unique()
# df = df[(df.bilable_flag == True) & (df.LPSC > 1) & (df.ots_vc.isin(['LMV2 And >3kwh', 'LMV4B', 'LMV5', 'LMV6']))]

In [106]:
# bifurcation("Division_Name",'Division')   
# "Division_Name"
# "Circle_Name"

In [107]:
# df = type(df)
# df = categories(df)
# df = new_cat(df)

In [108]:
# df =Division_Name(df)

In [45]:
df['SUBSTATION'].value_counts()

COLONELGANJ RURAL_355213                     54302
FAKHARPUR_354923                             41559
MOTIPUR_354922                               35772
KAISERGANJ_354923                            33046
TULSIPUR DEHAT_355133                        31054
UTRAULA DEHAT_355133                         31020
MANKAPUR_355214                              30768
NAWABGANJ_355212                             29338
TARABGANJ_355212                             28913
URLAHAWA_355132                              28546
MASKANWA_355214                              28050
PARASPUR_355212                              26846
ARYA NAGAR_355213                            26169
MAHSI_354922                                 25711
BELSAR_355212                                25403
PAYAGPUR_354923                              25055
BHINGA_355132                                24814
JAIL ROAD GONDA_30170                        24205
ITIATHOK_355214                              24040
GHARIGHAT_355214                             21829
RANJEETPUR_354923                            20728
DHANEPUR_355214                              20321
STEAM POWER HOUSE_355131                     20306
PACHPEDWA_355133                             20246
BANJARAN TANDA (TAHSEEL MUKHYALAY)_354922    20193
SITADWAR_355132                              20041
HARRAYA SATGHARWA_355133                     19138
SUB-STATION REHRA_355133                     18844
NANPARA_354922                               17920
RISIA_354922                                 17204
MAHARAJ GANJ TARAI_355131                    16873
MATERA_354922                                16760
VISHESHWARGANJ_354923                        16431
CHIRAIYA TAND_354923                         16017
TEJWAPUR_354923                              15662
GHOLIYA_355132                               15627
KHORANHSA_355212                             15285
LAXMAN NAGAR_355132                          15274
SAHABA/BABAGANJ                              14572
ACHALPUR CHAUDHARY_355133                    14189
DUMERIYADEEH_355212                          14088
JARWAL_354923                                13838
RAIBOJHA_354922                              13596
GAIDAS BUJURG_355133                         13237
KHARGUPUR_355213                             13122
BALRAMPUR 132_355131                         13031
BASHIRGANJ_30166                             11662
BHANGAHA_355132                              11141
PARSA PALAIDEEH_355133                       11122
BHABHUA_355213                               10992
KATRA_355132                                 10956
GAURA(NAUBATAMUNDILA)_355133                 10606
NAWABGANJ_354922                             10380
JAIL ROAD GONDA_355211                       10372
NANPARA_30065                                10262
CIVIL LINE_34116                             10244
BHAGWATIGANJ_30252                            9786
KHUTEHNA_354923                               9530
SHRIDUTTGANJ_355133                           9418
PARSAURA_354921                               9344
AVAS VIKAS_30168                              9212
GULLABEER_34119                               9057
DEISEL POWER HOUSE_30165                      9032
BADAGAON_34103                                9021
BAXIPURA_34118                                8845
BALRAMPUR TOWN_34077                          8817
BEHDA_354922                                  8649
BHAKALA_354923                                8591
JHANJARI_34089                                8551
GILAULA_355132                                8216
SHIVPURA/HARIHARPUR_355131                    8127
RAJAPUR PARSAURA_355214                       7910
MAHNAUN_355214                                7793
KAILASHPURI_354922                            7459
COLONELGANJ TAHSEEL_355213                    7304
WAZIRGANJ_355212                              6553
TULSIPUR TAHSIL_355133                        6549
DHANUHI_354923                                6305
RAGHURAJ NAGAR_355212                         6208
UTRAULA TAHSIL_355133                         6083
PACHPEDWA IPDS_355133                         5975
JARWAL ROAD_354923                            5926
NEVADA MODE_354922                            5813
LAXSHMAN PUR BAZAAR_355132                    5795
HOSPITAL CHAURAHA_34114                       5666
CHANDVATPUR_355213                            5657
GHANTAGHAR_34115                              5611
KATILIYA CHAURAHA_354922                      5469
UTTRAULA IPDS_355133                          5391
MADDOPUR DEVARIYA_355214                      5358
NAA                                           4620
SUB-STATION IKAUNA_355132                     4552
AMBEDKAR CHAURAHA_34101                       4105
BALPUR_355213                                 4085
MANAKAPUR THASEEL_355214                      3953
MAHSI TAHSEEL_354922                          3765
PURABTOLA NAHAR BALAGANJ_34095                3491
RISIYA TOWN_354922                            3232
PURE SHIVA (BAKHTAWAR)_34102                  3165
MADHYANAGAR_355132                            3089
BHINGA IPDS_355132                            2914
TULSIPUR IPDS_355133                          2736
KATRA SHIV DAYALGANJ_355212                   2654
KHARGUPUR IPDS_355213                         2528
KALPI PARA_34117                              2367
JhanJhari                                     2329
220 KV SS Jail Road Gonda                     2327
TARGANJ THASEEL_355212                        2242
KAISER GANJ TEHSIL_354923                     2011
Badagaon                                      1801
BAXIPURA_354921                               1532
BALRAMPURTOWN                                 1528
Awas Vikas                                    1379
KALPIPARA                                     1210
450101009                                     1205
KATRA BAZAR_355213                            1172
NANPARA                                       1009
CIVIL LINE                                     876
PARSA TIWARI_355214                            869
BHAGWATIGANJ                                   794
GULLABIR                                       778
HOSPITAL                                       741
SUB STATION JAMUNAHA_355132                    723
DIESEL POWER HOUSE                             691
BASHIR GANJ                                    681
GHANTAGHAR                                     656
420301014                                      373
Ambedkar Chauraha                              296
420302020                                      295
BAXIPURA                                       289
DUBAHA_355213                                  248
PURE DALAI_324521                              184
132 MANKAPUR_355214                            180
UTRAULA DEHAT                                  136
450101016                                      135
KATRA IPDS_355213                              112
SUBHAGPUR_355213                               106
IPDS IKAUNA                                     96
132 KV BALRAM PUR (2X5MVA)                      86
BALRAMPUR_30017                                 79
JHANJHARI                                       59
AMBEDKAR CHAURAHA                               59
NNP                                             43
33/11 KV POORAB TOLA                            39
BASEERGANJ                                      39
HOS                                             38
SDO3552111                                      36
220/132/33 KV Sub Station Gonda                 32
450201020                                       23
SHRIDUTTGANJ                                    23
450101014                                       18
420303056                                       14
220 KV GONDA_36213                               8
450201005                                        8
Jhanjhari                                        7
PARSAURA                                         6
SAHABA BABAGANJ_34235                            5
JHAJHARI                                         5
na                                               5
420302001                                        5
PURE SIVA BAKTAVAR                               5
N                                                5
AWAS VIKAS                                       4
Jail Road                                        4
Awas-Vikas                                       4
BADAGAON                                         4
33/11 KV KATRA                                   3
132 KV BALRAMPUR_30017                           3
132 KV PAYAGPUR_36232                            3
220/132/33 KV SUB STATION GONDA-JAIL ROAD        3
Badgaon                                          3
GHANTA GHAR                                      2
DARIYABAD_324521                                 2
jhanjhari                                        2
JAIDPUR_324521                                   2
UTRAULA TAHSHIL_355133                           2
133 KV BEGAMPUR_36247                            2
132/33/11 KVBALRAMPUR                            2
GULLABEER                                        1
355211101                                        1
civil line                                       1
gullabir                                         1
220 KV BAHRAICH_37001                            1
355214                                           1
132 KV BAHRAICH_36212                            1
450102013                                        1
420306009                                        1
420301030                                        1
132 KV BHINGA_36227                              1
ACHALPUR_CHAUDHARYA_355133                       1
35521120228PTC                                   1
JAIL ROAD                                        1
MP PATARI_24676                                  1
Name: SUBSTATION, dtype: int64

In [110]:
df.shape

(1521791, 122)

In [111]:
column =list(df.columns)

In [112]:
short_col = ['ACCT_ID','KNO','DIV_CODE','Division_Name','Cat','CONSUMPTION_CURR_MNTH','LOAD','MDI','CON_STATUS']

In [42]:
im_col = ['DIV_CODE',
 'SDO_CODE',
          'SUBSTATION',
          'FEEDER',
 'ACCT_ID',
 'KNO',
          
    
          'NAME',
          'ADDRESS',
          'MOBILE_NO',
          'SUPPLY_TYPE',
          'CONSUMPTION_CURR_MNTH',
          'CONSUMPTION_PREV_MNTH',
          'DOC',
          'BILL_BASIS',
          'METER_STATUS',
          'METER_READ_REMARK',
          'BILL_TYP',
          'SBM_MACHINE_ID',
          'CON_STATUS',
          'LOAD',
           'MDI',

          'ARREAR',
          'CURRENT_ASSESSMENT',
          'TOTAL_OUTSTANDING',
          'LPSC',
          'LAST_OK_READING',
          'LAST_OK_READ_STATUS',
          'METER_READ_FLTY_CNT',
          'LAST_PAY_AMT',
          'LAST_PAY_DATE',
          'INDUSTRIAL_FLAG',
          'INF_BILL',
          'ACCT_INFLALTED_FLAG',
          'GOVT_CODE',
          'LAST_BILL_DATE',
          'PAYMENT_SRCE',
          'TOTAL_PAY_AMT',
         'CONSUMER_BASE']

In [43]:
df = df[im_col]

In [44]:
df.dropna(subset = ['ACCT_ID'], inplace=True)

In [45]:
df = type(df)
df = unpaid(df)
df=Neverpaid(df)
df = NonGOVT(df)
# df = relGov(df)
# df = faulty_Ageing(df)
df = billable(df)
# graph_VC(df)
# df = MDI_filter(df)

# df = low_consumtion_filter(df)
# df = arrear(df)
df = categories(df)
# df = ots(df)
# df = arrear(df)
df=CatLoad(df)
df=Cat_VC(df)
df=graph_VC(df)
df =Division_Name(df)
df=paid_arrear(df)
df = conection_month(df)
df = life_line(df)
df = newconection(df)

C:\Users\HP\AppData\Local\Temp\ipykernel_21180\2198998957.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['SUPPLY_TYPE'] = df['SUPPLY_TYPE'].astype(str).str.replace('\\.0+$', '')
C:\Users\HP\AppData\Local\Temp\ipykernel_21180\1802877464.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df['SUPPLY_TYPE'] = df['SUPPLY_TYPE'].astype(str).str.replace('\\.0+$', '')

In [ ]:
# file_jul = "./load/urban/merged_data_urban.xlsx"
# df = newconection(df)

In [72]:
# df = rdf_cat(df)
# df_load = pd.read_excel(file_jul)

In [80]:
# df1 = df[df['MDI'] > df['LOAD']]

In [81]:
# df1 = df1[short_col]

In [82]:
# df1['month'] = month

In [83]:
# # Performing a left merge based on the 'key' column
# merged_df = pd.merge(df_load, df1, on='ACCT_ID', how='outer',suffixes=('', '_aug'))

# print("Left Merged DataFrame:")
# # print(merged_df_left)

Left Merged DataFrame:

C:\Users\HP\AppData\Local\Temp\ipykernel_19460\3903627788.py:2: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  merged_df = pd.merge(df_load, df1, on='ACCT_ID', how='outer',suffixes=('', '_aug'))

In [84]:
# # df=CatLoad(df)
# # Save the merged dataframe to a new CSV file
# merged_file = "./load/urban/merged_data_tillAug.xlsx"
# merged_df.to_excel(merged_file, index=False)

In [39]:
df['PAYMENT_SRCE']=df['PAYMENT_SRCE'].str.strip()

In [ ]:
# df=Cat_VC(df)

df.PAYMENT_SRCE.value_counts()

In [ ]:
df.columns

In [ ]:
# df = df[(df.bilable_flag==True) & (df.ots_vc.notna())]

In [43]:
# df = df[df['TOTAL_OUTSTANDING'] >= 50000]

In [47]:
div_connection=df[(df.bilable_flag == True)].pivot_table(index=['Circle_Name','Division_Name'], columns=['conection_month'],values=['ACCT_ID','LOAD'],
                    aggfunc={'ACCT_ID':'count','LOAD':np.sum},fill_value=0 )

In [47]:
div_life_line=df[(df.life_line == True)].pivot_table(index=['Circle_Name','Division_Name'], columns=['CONSUMER_BASE'],values=['ACCT_ID','LOAD'],
                    aggfunc={'ACCT_ID':'count','LOAD':np.sum},fill_value=0 )

In [50]:
div_life_line1=df[(df.Cat == 'LMV1') & (df.LOAD <= 1)].pivot_table(index=['Circle_Name','Division_Name'], columns=['CONSUMER_BASE'],values=['ACCT_ID','LOAD'],
                    aggfunc={'ACCT_ID':'count','LOAD':np.sum},fill_value=0 )

In [51]:
div_life_line1.to_excel(f"dec2023/{circle}/report/{circle}_{month}_life_line1.xlsx")

In [139]:
# df1 = df[(df.life_line == True) & ((df.CONSUMER_BASE == 'URBAN'))]

In [140]:
# df1.to_excel(f"dec2023/{circle}/report/{circle}_{month}_life_line_list.xlsx")

In [91]:
# div_connection.to_excel(f"nov2023/{circle}/report/{circle}_{month}_connection_aug.xlsx")

In [74]:
cat = ["LMV2","LMV4A","LMV4B","LMV6"]
div_bill246=df[(df.Cat.isin(cat)) & (df.bilable_flag==True)].pivot_table(index=['Circle_Name','Division_Name'],columns=["Cat"],values=['ACCT_ID'],
                    aggfunc={'ACCT_ID':'count'},fill_value=0 )
div_bill246.to_excel(f"{month}/{circle}/report/{circle}_{month}_246.xlsx")

In [48]:
cat = ["LMV9"]
div_bill9=df[(df.Cat.isin(cat)) & (df.bilable_flag==True)].pivot_table(index=['Circle_Name','Division_Name','CON_STATUS'],columns=["Cat"],values=['ACCT_ID','CURRENT_ASSESSMENT','TOTAL_OUTSTANDING','TOTAL_PAY_AMT','paid_status'],
                    aggfunc={'ACCT_ID':'count','CURRENT_ASSESSMENT':np.sum,'TOTAL_OUTSTANDING':np.sum,'TOTAL_PAY_AMT':np.sum,'paid_status':np.sum},fill_value=0 )
div_bill9.to_excel(f"{month}/{circle}/report/{circle}_{month}_9_2.xlsx")

In [42]:
# cat = ['LMV1', 'LMV2', 'LMV6', 'LMV8', 'LMV10', 'LMV9',
#        'LMV5', 'HV2', 'HV1', 'LMV4A', 'HV4']
# # cat=['LMV4A']
cat = ["LMV2,LMV4B,LMV6","LMV1(3-9kw)","great than 10kw"]

In [49]:
# div_payment_4a_nov = df[((df.paid_status == 1)&(df.Cat.isin(cat)))].pivot_table(
#     index=['LAST_PAY_DATE'], columns=['Circle_Name', 'Division_Name'], values=['TOTAL_PAY_AMT'],
#     aggfunc={'TOTAL_PAY_AMT': np.sum}, fill_value=0
# )

In [ ]:
div_payment_4a_nov = df[((df.paid_status == 1)&(df.Cat.isin(cat)))].pivot_table(
    index=['LAST_PAY_DATE'], columns=['Circle_Name', 'Division_Name'], values=['TOTAL_PAY_AMT'],
    aggfunc={'TOTAL_PAY_AMT': np.sum}, fill_value=0
)

In [44]:
div_sub = df[df.bilable_flag == True].pivot_table(
    index=['Circle_Name', 'Division_Name','SDO_CODE','SUBSTATION'], values=['ACCT_ID'],
    aggfunc={'ACCT_ID':'count'}, fill_value=0
)

In [49]:
rdf_div=df[(df.bilable_flag == True) &(df.METER_READ_REMARK== 'RDF')].pivot_table(index=['Circle_Name','Division_Name'],columns=['rdf_cat','CON_STATUS'],values=['ACCT_ID'],
                    aggfunc={'ACCT_ID':'count'},fill_value=0,margins=True,margins_name='Total' )

In [50]:
idf_div=df[(df.bilable_flag == True) &(df.METER_READ_REMARK== 'IDF')].pivot_table(index=['Circle_Name','Division_Name'],columns=['rdf_cat','CON_STATUS'],values=['ACCT_ID'],
                    aggfunc={'ACCT_ID':'count'},fill_value=0,margins=True,margins_name='Total' )

In [48]:
rdf_list = df[(df.bilable_flag == True) &(df.METER_READ_REMARK== 'RDF')&(df.rdf_cat.isin(cat))]

In [49]:
idf_list = df[(df.bilable_flag == True) &(df.METER_READ_REMARK== 'IDF')&(df.rdf_cat.isin(cat))]

In [50]:
div_payment_4a_nov.to_excel(f"{month}/{circle}/report/{circle}_{month}_4a_payment.xlsx")

In [45]:
rdf_div.to_excel(f"{month}/{circle}/report/{circle}_{month}_rdf.xlsx")

NameError: name 'rdf_div' is not defined

In [45]:
div_sub.to_excel(f"{month}/{circle}/report/{circle}_{month}_sub.xlsx")

In [50]:
rdf_list.to_excel(f"{month}/{circle}/report/{circle}_{month}_rdf_list.xlsx")

In [ ]:
idf_div.to_excel(f"{month}/{circle}/report/{circle}_{month}_idf.xlsx")

In [51]:
idf_list.to_excel(f"{month}/{circle}/report/{circle}_{month}_idf_list.xlsx")

In [132]:
# # df =Division_Name(df)
#     df['LOAD'] = pd.to_numeric(df['LOAD'])   #,errors="coerce"
#     df['LOAD_FILTER'] = None
#     df.loc[df['LOAD'] < 5,"LOAD_FILTER"] = "1-5kw"
#     df.loc[((df['LOAD'] >= 5) & (df['LOAD'] < 10)),"LOAD_FILTER"] = "5-9kw"
#     df.loc[df['LOAD'] >= 10,"LOAD_FILTER"] = "great than 10kw"

ValueError: cannot insert Circle_Name, already exists

In [42]:
# df1=df[df['LOAD_FILTER']=='great than 10kw']

In [51]:
df.dtypes

Circle_Name                      object
Division_Name                    object
DIV_CODE                         object
SDO_CODE                         object
SUBSTATION                       object
FEEDER                           object
ACCT_ID                         float64
KNO                              object
NAME                             object
ADDRESS                          object
MOBILE_NO                       float64
SUPPLY_TYPE                      object
CONSUMPTION_CURR_MNTH           float64
CONSUMPTION_PREV_MNTH            object
DOC                      datetime64[ns]
BILL_BASIS                       object
METER_STATUS                     object
METER_READ_REMARK                object
BILL_TYP                         object
SBM_MACHINE_ID                   object
CON_STATUS                       object
LOAD                            float64
MDI                             float64
ARREAR                          float64
CURRENT_ASSESSMENT              float64
TOTAL_OUTSTANDING               float64
LPSC                             object
LAST_OK_READING                 float64
LAST_OK_READ_STATUS      datetime64[ns]
METER_READ_FLTY_CNT             float64
LAST_PAY_AMT                    float64
LAST_PAY_DATE            datetime64[ns]
INDUSTRIAL_FLAG                  object
ACCT_INFLALTED_FLAG              object
GOVT_CODE                        object
LAST_BILL_DATE           datetime64[ns]
PAYMENT_SRCE                     object
TOTAL_PAY_AMT                   float64
CONSUMER_BASE                    object
paid_status                       int64
Neverpaid_count                   int64
Neverpaid_status                float64
gov_flag                           bool
bilable_flag                       bool
Cat                              object
LOAD_FILTER                      object
Cat_vc                           object
graph_vc                         object
paid_arrear                     float64
conection_month                  object
life_line                          bool
newconection                      int64
dtype: object

In [81]:
start = time.time()
# df1.to_excel(f"{month}/top10-td-rapdrp.xlsx")
df.to_csv(f"{month}/{circle}/{circle}_oct23_ots.csv") 

end = time.time()
print("CSV:", end - start)

CSV: 76.53425645828247

In [39]:
# start = time.time()
# # df1.to_excel(f"{month}/top10-td-rapdrp.xlsx")
# df.to_csv(f"{month}/{circle}/{circle}sep23_8oct.csv") 

# end = time.time()
# print("CSV:", end - start)

CSV: 53.3649525642395

In [42]:
df.new_cat.value_counts()

LMV1(2-5kw)        1341922
LMV2(2-5kw)          56055
LMV4(2-5kw)          19702
great than 10kw       9912
LMV2(5-9kw)           2662
LMV1(5-9kw)           1661
LMV4(5-9kw)            786
Name: new_cat, dtype: int64

In [88]:
df = df[df.new_cat.notna()]

In [104]:

bifurcation("Division_Name",'Division_raw')  
# "Division_Name"
# "Circle_Name"

['EDD I Bahraich' 'EDD II Nanpara' 'EDD III Kaisarganj' 'EDD Balrampur'
 'EDD SHRAWASTI' 'EDD Tulsipur' 'EDD I Gonda' 'EDD II Gonda'
 'EDD III COLONELGANJ' 'EDD IV MANKAPUR']
EDD I Bahraich
CSV: 12.913344621658325
EDD II Nanpara
CSV: 22.742069244384766
EDD III Kaisarganj
CSV: 21.657413721084595
EDD Balrampur
CSV: 9.60334825515747
EDD SHRAWASTI
CSV: 15.763208627700806
EDD Tulsipur
CSV: 22.403606414794922
EDD I Gonda
CSV: 9.498378038406372
EDD II Gonda
CSV: 16.380317449569702
EDD III COLONELGANJ
CSV: 13.315404415130615
EDD IV MANKAPUR
CSV: 16.226884603500366

In [ ]:
df.columns

In [46]:
rdf_sdo=df[(df.bilable_flag == True) & (df.gov_flag == False) &(df.METER_READ_REMARK== 'RDF')].pivot_table(index=['Circle_Name','Division_Name','SDO_CODE','SUBSTATION'],columns=['CON_STATUS'],values=['ACCT_ID'],
                    aggfunc={'ACCT_ID':'count'},fill_value=0,margins=True,margins_name='Total' )

In [112]:
meter_read_remark =df.pivot_table(index=['Circle_Name','Division_Name',],columns=['METER_READ_REMARK','CON_STATUS'],values=['ACCT_ID'],
                    aggfunc={'ACCT_ID':'count'},fill_value=0,margins=True,margins_name='Total' )

In [113]:
BILL_BASIS =df.pivot_table(index=['Circle_Name','Division_Name',],columns=['BILL_BASIS','CON_STATUS'],values=['ACCT_ID'],
                    aggfunc={'ACCT_ID':'count'},fill_value=0,margins=True,margins_name='Total' )

In [132]:
Sbm =df[df.BILL_TYP=='SBM'].pivot_table(index=['Circle_Name','Division_Name','SBM_MACHINE_ID'],values=['ACCT_ID'],
                    aggfunc={'ACCT_ID':'count'},fill_value=0,margins=True,margins_name='Total' )

In [114]:
# pivot_table.plot(kind='pie',
#             subplots=True,
#               title='Population (1955-2020)',autopct='%1.0f%%')

Catvc=df[(df.bilable_flag == True) & (df.gov_flag == False)].pivot_table(index=['Circle_Name','Division_Name',], columns=['Cat_vc'],values=['ACCT_ID','CURRENT_ASSESSMENT','TOTAL_OUTSTANDING','TOTAL_PAY_AMT','paid_status'],
                    aggfunc={'ACCT_ID':'count','CURRENT_ASSESSMENT':np.sum,'TOTAL_OUTSTANDING':np.sum,'TOTAL_PAY_AMT':np.sum,'paid_status':np.sum},fill_value=0,margins=True,margins_name='Total' )

In [115]:
# pivot_table.plot(kind='pie',
#             subplots=True,
#               title='Population (1955-2020)',autopct='%1.0f%%')

graphvc=df[(df.bilable_flag == True)].pivot_table(index=['Circle_Name','Division_Name',], columns=['graph_vc'],values=['ACCT_ID','CURRENT_ASSESSMENT','TOTAL_OUTSTANDING','CONSUMPTION_CURR_MNTH','TOTAL_PAY_AMT','paid_status','LOAD'],
                    aggfunc={'ACCT_ID':'count','CURRENT_ASSESSMENT':np.sum,'TOTAL_OUTSTANDING':np.sum,'CONSUMPTION_CURR_MNTH':np.sum,'TOTAL_PAY_AMT':np.sum,'LOAD':np.sum,'paid_status':np.sum},fill_value=0,margins=True,margins_name='Total' )

In [50]:
df.columns

Index(['Circle_Name', 'Division_Name', 'DIV_CODE', 'SDO_CODE', 'SUBSTATION',
       'FEEDER', 'ACCT_ID', 'KNO', 'NAME', 'ADDRESS', 'MOBILE_NO',
       'SUPPLY_TYPE', 'CONSUMPTION_CURR_MNTH', 'CONSUMPTION_PREV_MNTH', 'DOC',
       'BILL_BASIS', 'METER_STATUS', 'METER_READ_REMARK', 'BILL_TYP',
       'SBM_MACHINE_ID', 'CON_STATUS', 'LOAD', 'MDI', 'ARREAR',
       'CURRENT_ASSESSMENT', 'TOTAL_OUTSTANDING', 'LPSC', 'LAST_OK_READING',
       'LAST_OK_READ_STATUS', 'METER_READ_FLTY_CNT', 'LAST_PAY_AMT',
       'LAST_PAY_DATE', 'INDUSTRIAL_FLAG', 'ACCT_INFLALTED_FLAG', 'GOVT_CODE',
       'LAST_BILL_DATE', 'PAYMENT_SRCE', 'TOTAL_PAY_AMT', 'CONSUMER_BASE',
       'paid_status', 'Neverpaid_count', 'Neverpaid_status', 'gov_flag',
       'bilable_flag', 'Cat', 'LOAD_FILTER', 'Cat_vc', 'graph_vc',
       'paid_arrear', 'conection_month', 'life_line', 'newconection'],
      dtype='object')

In [42]:
# pivot_table.plot(kind='pie',
#             subplots=True,
#               title='Population (1955-2020)',autopct='%1.0f%%')

unpaid_new=df[(df.bilable_flag == True) & (df.gov_flag == False) & (df.newconection == 1) & (df.paid_status == 0)].pivot_table(index=['Circle_Name','Division_Name',], columns=['INF_BILL','BILL_BASIS'],values=['ACCT_ID','CURRENT_ASSESSMENT','TOTAL_OUTSTANDING','CONSUMPTION_CURR_MNTH'],
                    aggfunc={'ACCT_ID':'count','CURRENT_ASSESSMENT':np.sum,'TOTAL_OUTSTANDING':np.sum,'CONSUMPTION_CURR_MNTH':np.sum},fill_value=0)

In [44]:
unpaid_new.to_excel(f"{month}/{circle}/report/{circle}_{month}_upaid_new.xlsx")

In [116]:
# pivot_table.plot(kind='pie',
#             subplots=True,
#               title='Population (1955-2020)',autopct='%1.0f%%')

Catvc=df[(df.bilable_flag == True) & (df.gov_flag == False)].pivot_table(index=['Circle_Name','Division_Name',], columns=['Cat_vc'],values=['ACCT_ID','CURRENT_ASSESSMENT','TOTAL_OUTSTANDING','TOTAL_PAY_AMT','paid_status','LOAD'],
                    aggfunc={'ACCT_ID':'count','CURRENT_ASSESSMENT':np.sum,'TOTAL_OUTSTANDING':np.sum,'TOTAL_PAY_AMT':np.sum,'paid_status':np.sum,'LOAD':np.sum},fill_value=0,margins=True,margins_name='Total' )

In [131]:
# pivot_table.plot(kind='pie',
#             subplots=True,
#               title='Population (1955-2020)',autopct='%1.0f%%')

div_cat=df[(df.bilable_flag == True) & (df.gov_flag == False)].pivot_table(index=['Circle_Name','Division_Name',], columns=['Cat'],values=['ACCT_ID','CURRENT_ASSESSMENT','TOTAL_OUTSTANDING','TOTAL_PAY_AMT','paid_status','LOAD'],
                    aggfunc={'ACCT_ID':'count','CURRENT_ASSESSMENT':np.sum,'TOTAL_OUTSTANDING':np.sum,'TOTAL_PAY_AMT':np.sum,'paid_status':np.sum,'LOAD':np.sum},fill_value=0,margins=True,margins_name='Total' )

In [52]:
# pivot_table.plot(kind='pie',
#             subplots=True,
#               title='Population (1955-2020)',autopct='%1.0f%%')

ots_1=df[(df.bilable_flag == True) & (df.LPSC >1) ].pivot_table(index=['Circle_Name','Division_Name'], columns=['ots_vc'],values=['ACCT_ID','arrear_withot_Lpsc'],
                    aggfunc={'ACCT_ID':'count','arrear_withot_Lpsc':np.sum},fill_value=0,margins=True,margins_name='Total' )

In [53]:
# pivot_table.plot(kind='pie',
#             subplots=True,
#               title='Population (1955-2020)',autopct='%1.0f%%')

ots_500=df[(df.bilable_flag == True) & (df.LPSC >= 500) ].pivot_table(index=['Circle_Name','Division_Name','ARREAR_FILTER'], columns=['ots_vc'],values=['ACCT_ID','arrear_withot_Lpsc'],
                    aggfunc={'ACCT_ID':'count','arrear_withot_Lpsc':np.sum},fill_value=0,margins=True,margins_name='Total' )

In [146]:
# df['discount_Nov'] = None
#     df['discount_Dec(1-15)'] = None
#     df['Registration_amount'] = None
#     df['Registration_amount'] = 0.3*df['TOTAL_OUTSTANDING']
#     df['Amount_to_be_paid_after_disc_Nov'] = None
#     df['Amount_to_be_paid_after_disc_dec(1-15)']
feeder = ["RANI BAZAR_35521114103RIR","TOWN III_35521110170TO3",'BALESHWAR GANJ_35523410632BWJ',"TARAB GANJ TOWN_35523420638TTW ","TAHSEEL_35523310390THL","DHANEPUR TOWN_35523110163DTW","DHARAMPUR_35513110252DRP","LIFT CANAL_35513110176LCL","EAST_35513110180EAT","SADULLA NAGAR_35513130186SLR","IPDS 1_35513131017IP1","SEMRI DEHAT_35492210434SDT","SIRSIYA_35492210434SRA","PACHDEVARI_35492220437PHI","JAMUNHA_35492210436JUA","TIWARI GAON_35492210436TRN","RURAL_35492110453RUL","RAHVA_35491110455RAA","NEJABHAAR_35492220555NAR","MAHARAJGANJ_35492220556MRJ","JAITAPUR_35492150460JAT"]

In [50]:
div_highloss_nov = df[(df.bilable_flag == True) & (df.FEEDER.isin(feeder))].pivot_table(
    index=['Circle_Name', 'Division_Name','FEEDER'], values=['ACCT_ID','CONSUMPTION_CURR_MNTH','CURRENT_ASSESSMENT','TOTAL_PAY_AMT','LOAD'],
    aggfunc={'ACCT_ID':'count','LOAD':np.sum,'CONSUMPTION_CURR_MNTH':np.sum,'CURRENT_ASSESSMENT':np.sum,'TOTAL_PAY_AMT':np.sum}, fill_value=0
)

In [51]:
div_highloss_nov.to_excel(f"{month}/{circle}/report/{circle}_{month}_highloss_nov.xlsx")

In [55]:
# pivot_table.plot(kind='pie',
#             subplots=True,
#               title='Population (1955-2020)',autopct='%1.0f%%')

ots_detail=df[(df.bilable_flag == True) & (df.LPSC >= 100) ].pivot_table(index=['Circle_Name','Division_Name'], columns=['ots_vc'],values=['ACCT_ID','TOTAL_OUTSTANDING','discount_Nov','Registration_amount','Amount_to_be_paid_after_disc_Nov'],
                    aggfunc={'ACCT_ID':'count','discount_Nov':np.sum,'TOTAL_OUTSTANDING':np.sum,'Registration_amount':np.sum,'Amount_to_be_paid_after_disc_Nov':np.sum},fill_value=0,margins=True,margins_name='Total' )

In [31]:
# # pivot_table.plot(kind='pie',
# #             subplots=True,
# #               title='Population (1955-2020)',autopct='%1.0f%%')

# Csc_count=df[(df.PAYMENT_SRCE == "EGSIL001") & (df.paid_status==1)].pivot_table(index=['Circle_Name','Division_Name'],values=['ACCT_ID','TOTAL_PAY_AMT','paid_status'],
#                     aggfunc={'ACCT_ID':'count','TOTAL_PAY_AMT':np.sum,'paid_status':np.sum},fill_value=0,margins=True,margins_name='Total' )

In [55]:
# # pivot_table.plot(kind='pie',
# #             subplots=True,
# #               title='Population (1955-2020)',autopct='%1.0f%%')

# Catvc_acc=df[(df.bilable_flag == True)].pivot_table(index=['Circle_Name','Division_Name'], columns=['Cat'],values=['ACCT_ID'],
#                     aggfunc={'ACCT_ID':'count'},fill_value=0,margins=True,margins_name='Total' )

In [47]:
# pivot_table.plot(kind='pie',
#             subplots=True,
#               title='Population (1955-2020)',autopct='%1.0f%%')

div_cat_connection=df[(df.bilable_flag == True)&(df.newconection== 0)].pivot_table(index=['Circle_Name','Division_Name'], columns=['gov_flag','Cat'],values=['ACCT_ID','LOAD','CONSUMPTION_CURR_MNTH','CURRENT_ASSESSMENT','TOTAL_OUTSTANDING','TOTAL_PAY_AMT','paid_status'],
                    aggfunc={'ACCT_ID':'count','LOAD':np.sum,'CONSUMPTION_CURR_MNTH':np.sum,'CURRENT_ASSESSMENT':np.sum,'TOTAL_OUTSTANDING':np.sum,'TOTAL_PAY_AMT':np.sum,'paid_status':np.sum},fill_value=0 )

In [57]:
# pivot_table.plot(kind='pie',
#             subplots=True,
#               title='Population (1955-2020)',autopct='%1.0f%%')

arrear_paid=df[(df.bilable_flag == True)].pivot_table(index=['Circle_Name','Division_Name'], columns=['gov_flag'],values=['TOTAL_PAY_AMT','paid_arrear'],
                    aggfunc={'paid_arrear':np.sum,'TOTAL_PAY_AMT':np.sum},fill_value=0 )

In [117]:
# pivot_table.plot(kind='pie',
#             subplots=True,
#               title='Population (1955-2020)',autopct='%1.0f%%')

div=df[(df.bilable_flag == True)].pivot_table(index=['Circle_Name','Division_Name'], columns=[],values=['ACCT_ID','LOAD','CONSUMPTION_CURR_MNTH','CURRENT_ASSESSMENT','TOTAL_OUTSTANDING','TOTAL_PAY_AMT','paid_status'],
                    aggfunc={'ACCT_ID':'count','LOAD':np.sum,'CONSUMPTION_CURR_MNTH':np.sum,'CURRENT_ASSESSMENT':np.sum,'TOTAL_OUTSTANDING':np.sum,'TOTAL_PAY_AMT':np.sum,'paid_status':np.sum},fill_value=0 )

In [134]:
# pivot_table.plot(kind='pie',
#             subplots=True,
#               title='Population (1955-2020)',autopct='%1.0f%%')

div_csc=df[(df.bilable_flag == True) & (df.paid_status==1) & (df.PAYMENT_SRCE=='EGSIL001')].pivot_table(index=['Circle_Name','Division_Name'], columns=['LAST_PAY_DATE'],values=['TOTAL_PAY_AMT'],
                    aggfunc={'TOTAL_PAY_AMT':np.sum},fill_value=0 )

In [136]:
# pivot_table.plot(kind='pie',
#             subplots=True,
#               title='Population (1955-2020)',autopct='%1.0f%%')

div_csc_other=df[(df.bilable_flag == True) & (df.paid_status==1) & (df.PAYMENT_SRCE=='EGSIL001')].pivot_table(index=['LAST_PAY_DATE'], columns=['Circle_Name','Division_Name'],values=['TOTAL_PAY_AMT'],
                    aggfunc={'TOTAL_PAY_AMT':np.sum},fill_value=0 )

In [118]:
zone_arrear_cat_vc =df[(df.gov_flag == False) &(df.bilable_flag == True) ].pivot_table(index=['Circle_Name','Division_Name'], columns=['ARREAR_FILTER'], values=['ACCT_ID','CURRENT_ASSESSMENT','TOTAL_OUTSTANDING','TOTAL_PAY_AMT','paid_status','Neverpaid_status'],
                    aggfunc={'ACCT_ID':'count','TOTAL_OUTSTANDING':np.sum,'CURRENT_ASSESSMENT':np.sum,
                            'TOTAL_PAY_AMT':np.sum,'paid_status':np.sum,'Neverpaid_status':np.sum},fill_value=0,margins=True,margins_name='Total' )

ValueError: No objects to concatenate

In [119]:
zone_cat_cat =df[(df.gov_flag == False) &(df.bilable_flag == True) ].pivot_table(index=['Circle_Name','Division_Name'], columns=['Cat_vc'], values=['ACCT_ID','CURRENT_ASSESSMENT','TOTAL_OUTSTANDING','TOTAL_PAY_AMT','paid_status','Neverpaid_status'],
                    aggfunc={'ACCT_ID':'count','TOTAL_OUTSTANDING':np.sum,'CURRENT_ASSESSMENT':np.sum,
                            'TOTAL_PAY_AMT':np.sum,'paid_status':np.sum,'Neverpaid_status':np.sum},fill_value=0,margins=True,margins_name='Total' )

In [147]:
feeder = ["RANI BAZAR_35521114103RIR","TOWN III_35521110170TO3","TARAB GANJ TOWN_35523420638TTW","TAHSEEL_35523310390THL","DHANEPUR TOWN_35523110163DTW","DHARAMPUR_35513110252DRP","LIFT CANAL_35513110176LCL","EAST_35513110180EAT","SADULLA NAGAR_35513130186SLR","IPDS 1_35513131017IP1","SEMRI DEHAT_35492210434SDT","SIRSIYA_35492210434SRA","PACHDEVARI_35492220437PHI","JAMUNHA_35492210436JUA","TIWARI GAON_35492210436TRN","RURAL_35492110453RUL","RAHVA_35491110455RAA","NEJABHAAR_35492220555NAR","MAHARAJGANJ_35492220556MRJ","JAITAPUR_35492150460JAT"]
feeder_report =df[(df.bilable_flag == True) & (df['FEEDER'].isin(feeder))].pivot_table(index=['Circle_Name','Division_Name','FEEDER'], values=['ACCT_ID','LOAD','CONSUMPTION_CURR_MNTH','CURRENT_ASSESSMENT','TOTAL_PAY_AMT','paid_status','TOTAL_OUTSTANDING'],
                    aggfunc={'ACCT_ID':'count','TOTAL_OUTSTANDING':np.sum,'CURRENT_ASSESSMENT':np.sum,'LOAD':np.sum,'CONSUMPTION_CURR_MNTH':np.sum,
                            'TOTAL_PAY_AMT':np.sum,'paid_status':np.sum},fill_value=0,margins=True)

In [148]:
# feeder = ["RANI BAZAR_35521114103RIR","TOWN III_35521110170TO3","TARAB GANJ TOWN_35523420638TTW ","TAHSEEL_35523310390THL","DHANEPUR TOWN_35523110163DTW","DHARAMPUR_35513110252DRP","LIFT CANAL_35513110176LCL","EAST_35513110180EAT","SADULLA NAGAR_35513130186SLR","IPDS 1_35513131017IP1","SEMRI DEHAT_35492210434SDT","SIRSIYA_35492210434SRA","PACHDEVARI_35492220437PHI","JAMUNHA_35492210436JUA","TIWARI GAON_35492210436TRN","RURAL_35492110453RUL","RAHVA_35491110455RAA","NEJABHAAR_35492220555NAR","MAHARAJGANJ_35492220556MRJ","JAITAPUR_35492150460JAT"]
feeder_report_load =df[(df.bilable_flag == True) & (df['FEEDER'].isin(feeder))].pivot_table(index=['Circle_Name','Division_Name','SUBSTATION','FEEDER'],columns = ['Cat','conection_month'], values=['ACCT_ID','LOAD'],
                    aggfunc={'ACCT_ID':'count','LOAD':np.sum},fill_value=0,margins=True)

In [149]:
# feeder = ["RANI BAZAR_35521114103RIR","TOWN III_35521110170TO3","TARAB GANJ TOWN_35523420638TTW ","TAHSEEL_35523310390THL","DHANEPUR TOWN_35523110163DTW","DHARAMPUR_35513110252DRP","LIFT CANAL_35513110176LCL","EAST_35513110180EAT","SADULLA NAGAR_35513130186SLR","IPDS 1_35513131017IP1","SEMRI DEHAT_35492210434SDT","SIRSIYA_35492210434SRA","PACHDEVARI_35492220437PHI","JAMUNHA_35492210436JUA","TIWARI GAON_35492210436TRN","RURAL_35492110453RUL","RAHVA_35491110455RAA","NEJABHAAR_35492220555NAR","MAHARAJGANJ_35492220556MRJ","JAITAPUR_35492150460JAT"]
feeder_report_idfrdf =df[(df.bilable_flag == True) & (df['FEEDER'].isin(feeder)) & ((df.METER_READ_REMARK== 'RDF') | (df.METER_READ_REMARK== 'IDF'))].pivot_table(index=['Circle_Name','Division_Name','SUBSTATION','FEEDER'],columns = ['METER_READ_REMARK'], values=['ACCT_ID'],
                    aggfunc={'ACCT_ID':'count'},fill_value=0,margins=True)

In [152]:
feeder_report_idfrdf.to_excel(f"nov2023/{circle}/report/{circle}_feeder_idfrdf_nov.xlsx")

In [153]:
feeder_report_load.to_excel(f"nov2023/{circle}/report/{circle}_feeder_load_nov.xlsx")

In [120]:
graphvc.to_excel(f"{month}/{circle}/report/{circle}_graph_dec_new.xlsx")

In [127]:
Catvc.to_excel(f"{month}/{circle}/report/{circle}_Cat_VC_dec_new.xlsx")

In [133]:
div_cat.to_excel(f"{month}/{circle}/report/{circle}_div_cat_dec_new.xlsx")

In [128]:
div.to_excel(f"{month}/{circle}/report/{circle}_Cat_VC_dec_new.xlsx")

In [117]:
meter_read_remark.to_excel(f"{month}/{circle}/report/{circle}_read_remark_nov.xlsx")

In [118]:
BILL_BASIS.to_excel(f"{month}/{circle}/report/{circle}_BILL_BASIS_nov.xlsx")

In [134]:
Sbm.to_excel(f"{month}/{circle}/report/{circle}_sbm_nov.xlsx")

In [43]:
rdf_sdo.to_excel(f"{month}/{circle}/report/{circle}_nov_rdf_sdo.xlsx")

In [125]:
div_cat_connection.to_excel(f"{month}/{circle}/report/{circle}_nov_cat_conn.xlsx")

NameError: name 'div_cat_connection' is not defined

In [121]:
zone_arrear_cat_vc.to_excel(f"{month}/{circle}/report/{circle}_arrear_cat_dec.xlsx")

NameError: name 'zone_arrear_cat_vc' is not defined

In [122]:
zone_cat_cat.to_excel(f"{month}/{circle}/report/{circle}_arrear_catVC_dec.xlsx")

In [75]:
ots_1.to_excel(f"{month}/{circle}/report/{circle}_cat_nov_ots_1.xlsx")

In [76]:
ots_500.to_excel(f"{month}/{circle}/report/{circle}_cat_nov_ots_500.xlsx")

In [77]:
div_csc_other.to_excel(f"{month}/{circle}/report/{circle}_CSC_nov_other.xlsx")

NameError: name 'div_csc_other' is not defined

In [123]:
arrear_paid.to_excel(f"{month}/{circle}/report/{circle}_arrear_paid_dec.xlsx")

NameError: name 'arrear_paid' is not defined

In [79]:
feeder_report.to_excel(f"{month}/{circle}/report/{circle}_feeder_nov.xlsx")

In [124]:
zone_graph.to_excel(f"{month}/{circle}/report/{circle}_graph_dec.xlsx")

NameError: name 'zone_graph' is not defined

In [44]:
df1.shape

(9878, 55)

In [43]:
df1.to_excel(f"{month}/{circle}_oct_10kw.xlsx")

In [81]:
div_cat.to_excel(f"{month}/{circle}/report/{circle}_divCAT_nov.xlsx")

In [ ]:
import ftplib

path = 'ftp://mvftpreport@ftp.uppclonline.com/CSV_MASTER/25092023/MASTER_MVVNL_DIV354921_25092023.csv.gz'
filename = 'MASTER_MVVNL_DIV354921_25092023.csv.gz'  
# ftp://mvftpreport@ftp.uppclonline.com/CSV_MASTER/25092023/MASTER_MVVNL_DIV354921_25092023.csv.gz

ftp = ftplib.FTP("Server IP") 
ftp.login("UserName", "Password") 
ftp.cwd(path)
ftp.retrbinary("RETR " + filename, open(filename, 'wb').write)
ftp.quit()

In [1]:
import wget
link = 'ftp://mvftpreport@ftp.uppclonline.com/CSV_MASTER/25092023/MASTER_MVVNL_DIV354921_25092023.csv.gz'
wget.download(link)

ModuleNotFoundError: No module named 'wget'