In [16]:
import pandas as pd
import numpy as np
from joblib import Parallel, delayed
from datetime import datetime 
import os

import time

In [17]:
import os

# Get the current working directory
current_directory = os.getcwd()

In [18]:
current_directory

'C:\\Users\\daniy\\Desktop\\python'

In [25]:
df = pd.read_csv("./test.csv")

In [26]:
df

       LAST_PAY_DATE
0          14-Jul-23
1          31-Jul-23
2          04-Jan-23
3          01-Jun-22
4          18-Jul-23
5          18-Aug-23
6         01-03-2021
7          21-Jun-23
8          27-Jul-23
9          23-Aug-23
10         09-Aug-23
11         22-May-23
12         19-Aug-23
13         13-Aug-23
14         07-Aug-23
15         26-Aug-23
16         28-Aug-23
17        28-06-2022
18  07-07-2023 00:00
19  24-07-2023 00:00

In [27]:
df.dtypes

LAST_PAY_DATE    object
dtype: object

In [28]:
pd.to_datetime(df['LAST_PAY_DATE'],dayfirst=True)

0    2023-07-14
1    2023-07-31
2    2023-01-04
3    2022-06-01
4    2023-07-18
5    2023-08-18
6    2021-03-01
7    2023-06-21
8    2023-07-27
9    2023-08-23
10   2023-08-09
11   2023-05-22
12   2023-08-19
13   2023-08-13
14   2023-08-07
15   2023-08-26
16   2023-08-28
17   2022-06-28
18   2023-07-07
19   2023-07-24
Name: LAST_PAY_DATE, dtype: datetime64[ns]